.additional {
  overflow: hidden;
}

.additional__item,
.additional__list,
.additional__heading,
.additional__wrapper,
.additional__tertiary {
  color: $white;
}

.additional__heading {
  padding: 0 8px;
  margin: 0 0 140px 0;

  @include media-breakpoint-up(lg) {
    padding: 0;
    margin-bottom: 100px;
    width: 605px;
  }
}

.additional__tertiary {
  margin: 0 0 10px 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
  }
}

.additional__list {
  @include list-reset;
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    column-gap: 20px;
    margin-bottom: 76px;
  }
}

.additional__item {
  position: relative;
  padding: 0 12px;
  margin-top: 119px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -86px;
    right: 50%;
    transform: translateX(47%);
    width: 80px;
    height: 93px;
    background-repeat: no-repeat;
    background-size: 100%;

    @include media-breakpoint-up(lg) {
      top: -15px;
      right: auto;
      left: -20px;
      transform: none;
      width: 143px;
      height: 162px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-left: 120px;
    padding-right: 50px;
    margin: 0;
  }
}

.additional__item--cap::before {
  background-image: url("../img/additional/propeller-cap-mobile.png");

  @include media-breakpoint-up(lg) {
    background-image: url("../img/additional/propeller-cap.png");
  }
}

.additional__item--shield::before {
  background-image: url("../img/additional/box-shield-mobile.png");

  @include media-breakpoint-up(lg) {
    background-image: url("../img/additional/box-shield.png");
  }
}

.additional__item--rocket::before {
  background-image: url("../img/additional/rocket-mobile.png");

  @include media-breakpoint-up(lg) {
    background-image: url("../img/additional/rocket.png");
  }
}

.additional__item--message::before {
  background-image: url("../img/additional/message-mobile.png");

  @include media-breakpoint-up(lg) {
    background-image: url("../img/additional/message.png");
  }
}

.additional__text {
  margin: 0;
  font-size: 14px;
  line-height: 25px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 29px;
  }
}

.additional__content {
  position: relative;
  background-color: $grey-dark;
  border-radius: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 45px;

  @include media-breakpoint-up(lg) {
    text-align: start;
    padding-top: 101px;
    padding-bottom: 116px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -20px;
    right: 50%;
    transform: translateX(52%);
    width: 480px;
    height: 1100px;
    background-image: url("../img/line-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @include media-breakpoint-up(lg) {
      top: -99px;
      right: 57%;
      transform: translateX(52%);
      width: 2120px;
      height: 1125px;
      background-image: url("../img/line.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  // @include media-breakpoint-up(lg) {
  //   padding: 0 15px 0 20px;
  // }
}

.additional__text-special {
  display: none;
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 25px;

  @include media-breakpoint-up(lg) {
    display: block;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
  }
}

.additional__button-wrapper {
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-right: 24px;
  }
}
