.advantages {
  overflow: hidden;
}

.advantages__wrapper {
  position: relative;
  text-align: center;
  padding-bottom: 370px;

  @include media-breakpoint-up(lg) {
    padding: 0;
    text-align: left;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 108px;
    left: calc(50% + 10px);
    transform: translateX(-50%);
    width: 506px;
    height: 177px;
    background-image: url("../../img/new_main_page/advantages-lines-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(lg) {
      top: 38px;
      bottom: auto;
      left: calc(50% - 269px);
      transform: translateX(-50%);
      width: 1488px;
      height: 520px;
      background-image: url("../../img/new_main_page/advantages-lines.svg");
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 10px);
    transform: translateX(-50%);
    width: 272px;
    height: 272px;
    background-image: url("../../img/new_main_page/man-with-boxes-2-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 272px 272px;

    @include media-breakpoint-up(lg) {
      top: -34px;
      left: calc(50% - 97px);
      transform: translateX(-100%);
      width: 571px;
      height: 601px;
      background-image: url("../../img/new_main_page/man-with-boxes-2.png");
      background-size: 571px 601px;
    }
  }
}

.advantages__container {
  position: relative;
  max-width: 460px;

  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}

.advantages__text-block {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url("../../img/new_main_page/loudspeaker.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 27px;
    z-index: 11;

    @include block-shadow;

    @include media-breakpoint-up(lg) {
      left: calc(var(--bs-gutter-x) / 2);
      width: 100px;
      height: 100px;
      background-size: 64px 54px;
      transform: none;
    }
  }
}

.advantages__list {
  @include list-reset;

  padding-top: 78px;
  padding-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding: 0;
    padding-top: 140px;
    padding-bottom: 40px;
  }
}

.advantages__item {
  padding: 0 20px;

  @include media-breakpoint-up(lg) {
    padding-left: 0;
    padding-right: 20px;
  }
}

.no-js .advantages__item {
  display: none;

  &:first-of-type {
    display: block;
  }
}

.advantages__text {
  margin: 0;
}
