.breadcrumbs {
  @include list-reset;

  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include media-breakpoint-up(md) {
    max-width: none;
  }

  @include media-breakpoint-up(lg) {
    padding: 30px 0;
  }
}

.breadcrumbs__item {
  padding-right: 15px;
  position: relative;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;

  a {
    color: $grey-dark;
  }

  &:not(:last-child)::after {
    content: "/";
    width: 22px;
    height: 22px;
    position: absolute;
    right: -12px;
  }

  &:last-child {
    padding-right: 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
    line-height: 25px;
  }
}

.breadcrumbs__item--active {
  font-weight: 700;
}
