.calculator__form {
  display: flex;
  flex-wrap: wrap;
}

.calculator__field {
  width: 100%;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    width: calc(50% - 10px);
    margin-right: 20px;


    &:nth-child(2n) {
      margin-right: 0;
    }
  }



  &--submit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
