.customs {
  overflow: hidden;
}

.customs__title {
  text-align: center;
  margin: 0 0 40px;
  padding: 0 35px;

  @include media-breakpoint-up(lg) {
    text-align: left;
    margin: 150px 0 0;
    padding: 0;
  }
}

.customs__desc-wrapper {
  @include media-breakpoint-up(lg) {
    padding-left: 0;
  }
}

.customs__desc {
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin: 0 0 236px;
  padding: 0 7px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    transform: translateX(50%);
    left: -30px;
    bottom: -204px;
    width: 227px;
    height: 174px;
    background-image: url("../../img/customs-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }


  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    margin: 406px 0 27px 0;
    padding: 0 10px 0 0;

    &::after {
      width: 552px;
      height: 423px;
      transform: translateX(-100%);
      left: -58px;
      bottom: -192px;
      background-image: url("../../img/customs.png");
    }
  }
}

.customs__cost {
  font-family: "Jost", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 38px 25px;
  margin: 0 0 60px;
  border: 2px dashed $grey-medium-1;
  border-radius: 30px;
  background-color: $white-1;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    line-height: 39px;
    padding: 35px 60px;
    margin-right: 10px;
  }
}
