.delivery-options {
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &--black {
    display: none;
  }
}

.delivery-options__wrapper {
  padding: 100px 0;
  border-radius: 20px;
  background-color: $white;

  .delivery-options--black & {
    background-color: $grey-dark;
  }
}

.delivery-options__list {
  @include list-reset;
  counter-reset: delivery-opts;
}

.delivery-options__item {
  position: relative;
  counter-increment: delivery-opts;

  &::before {
    font-family: "Jost", "Arial", sans-serif;
    content: "0" counter(delivery-opts) ".";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba($black, 0.05);
    font-weight: 700;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    color: $black-1;

    .delivery-options--black & {
      color: #c1c1c1;
      background-color: #464646;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-left: 161px;
    margin-bottom: 100px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.delivery-options__item-text-wrapper {
  @include media-breakpoint-up(lg) {
    max-width: 754px;
  }
}

.delivery-options__item-title {
  font-weight: 400;
  line-height: 29px;
  color: $black-1;
  letter-spacing: 0;
  margin: 0 0 10px;

  @include media-breakpoint-up(lg) {
    font-family: "Jost", "Arial", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
  }

  .delivery-options--black & {
    color: $white;
  }
}

.delivery-options__item-desc {
  font-size: 14px;
  line-height: 25px;
  color: $grey-dark;
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .delivery-options--black & {
    color: $white;
  }
}

.delivery-options__button-wrapper {
  margin-top: 10px;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}
