.disclaimer__content {
  position: relative;
  padding: 20px 0 230px 10px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 273px;
    height: 398px;
    left: calc(50% - 120px);
    bottom: -160px;
    background-image: url("../../img/new_main_page/buyer/disclaimer.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 2731px;
    height: 1217px;
    left: -1305px;
    top: -325px;
    background-image: url("../../img/new_main_page/buyer/disclaimer-line.svg");
    background-repeat: no-repeat;
  }

  @include media-breakpoint-up(md) {
    padding: 20px 0 300px 10px;

    &::before {
      width: 373px;
      height: 308px;
      left: calc(50% - 160px);
      bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 125px 0 150px 10px;

    &::before {
      width: 613px;
      height: 498px;
      left: -614px;
      top: -47px;
      bottom: auto;
      background-size: auto auto;
    }
  }
}

.disclaimer__heading {
  color: $blue;
  margin: 0 0 30px 0;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin: 0 0 40px 0;
    text-align: start;
  }
}

.disclaimer__text {
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: start;
  }
}
