.footer {
  padding: 0 15px;

  @include media-breakpoint-up(lg) {
    padding: 37px 0;
  }
}

.footer__logo {
  margin-bottom: 35px;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

.footer__navigation {
  background-color: $grey-dark;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 44px 25px 39px 25px;

  @include media-breakpoint-up(lg) {
    padding: 105px 0 100px 0;
    margin-bottom: 60px;
  }
}

.footer__bottom,
.footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__bottom {
  flex-direction: column-reverse;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  flex-direction: column;
  margin-bottom: 33px;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-right: 94px;
  }
}

.footer__social-text,
.footer__copyright {
  margin: 0;
}

.footer__copyright {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  color: $grey-special;
}

.footer__social-text {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $black-1;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}
