.form__label {
  display: block;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 50px;
  padding: 8px 22px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color: $black-1;
  border: 1px solid $black;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.2s ease;

  &::placeholder {
    color: rgba(#bfbfbf, 1);
    line-height: 32px;
    opacity: 1;

    @include media-breakpoint-up(md) {
      line-height: 36px;
    }
  }

  &:focus {
    border-color: $blue;
  }

  @include media-breakpoint-up(md) {
    height: 60px;
    padding: 11px 22px;
    font-size: 20px;
    line-height: 36px;
    box-shadow: 0 0 30px 0 rgba($black, 0.05);
  }
}

.form__input--mobile {
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: start;
  }
}

.form__select {
  padding-right: 45px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &--p-sm {
    padding-left: 5px;
    text-align-last: center;
    // direction: rtl;
  }

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l11 7.5L23 1' stroke='%231467FF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;

  &:invalid {
    color: rgba(#bfbfbf, 1);
  }

  option:disabled {
    color: rgba(#bfbfbf, 1);
  }
}
