.free-address__wrapper {
  padding: 12px 0 0 40px;
  margin-bottom: 55px;
}

.free-address__brief {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: $black-1;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

.free-address__desc {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: $grey-dark;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}
