.get-address {
  margin-bottom: 56px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 157px;
  }
}

.get-address__container {
  position: relative;

  @include media-breakpoint-up(lg) {
    &::before {
      content: "";
      position: absolute;
      width: 502px;
      height: 510px;
      top: 108px;
      left: 0;
      background-image: url("../img/man-with-pin.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.get-address__container2 {
  position: relative;

  @include media-breakpoint-up(lg) {
    &::before {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      position: absolute;
      top: 46%;
      left: 12px;
      border-radius: 50%;
      background-image: url("../img/get-address-check-sign.svg"), radial-gradient($white, $white 9px, $blue 10px, $blue 14px, $blue-light 15px);
      background-position: top 15px left 15px, center;
      background-repeat: no-repeat;
      background-size: 12px 8px, 38px 38px;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      position: absolute;
      left: 36%;
      top: 105%;
      border-radius: 50%;
      background-image: url("../img/get-address-check-sign.svg"), radial-gradient($white, $white 9px, $blue 10px, $blue 14px, $blue-light 15px);
      background-position: top 15px left 15px, center;
      background-repeat: no-repeat;
      background-size: 12px 8px, 38px 38px;
      z-index: 1;
    }
  }
}

.get-address__wrapper {
  position: relative;
}

.get-address__block-wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 219px;
    height: 219px;
    transform: translateX(50%);
    top: 39px;
    left: calc(50% - 219px);
    position: absolute;
    background-image: url("../img/man-with-pin-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include media-breakpoint-up(lg) {
    &::before {
      display: none;
    }
  }
}

.get-address__text-wrapper {
  padding: 280px 27px 0;
  text-align: center;
  margin-bottom: 27px;

  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-top: 263px;
    padding-left: 0;
    margin-bottom: 39px;
  }
}

.get-address__heading {
  margin: 0;
}

.get-address__button-wrapper {
  padding: 0 23px;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}
