.get-address {
  margin-bottom: 56px;
}


.get-address__text-wrapper {
  padding: 280px 27px 0;
  text-align: center;
  margin-bottom: 27px;
}

.get-address__heading {
  margin: 0;
}

.get-address__button-wrapper {
  padding: 0 23px;
}
