.help-buyer {
  margin-bottom: 13px;
}

.help-buyer__reason {
  position: relative;
  margin-bottom: 60px;

  @include media-breakpoint-up(lg){
    margin-bottom: 32px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 3121px;
      height: 785px;
      left: calc(50% - 1345px);
      top: 22px;
      background-image: url("../../img/new_main_page/buyer/product-order-line2.svg");
    }
  }
}

.help-buyer__heading {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;

  & span {
    text-transform: uppercase;
  }

  @include media-breakpoint-up(md) {
    max-width: 813px;
    margin: 0 auto 30px auto;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 0 58px 0;
    text-align: start;
  }
}

.help-buyer__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  @include media-breakpoint-up(lg) {
    min-height: 600px;
  }
}

.help-buyer__item {
  position: relative;
  background-color: $white;
  border-radius: 20px;
  padding: 20px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {
    &::before {
      left:-60px;
      top: -60px;
      width: 130px;
      height: 146px;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  @include media-breakpoint-up(lg){
    padding: 30px;
    margin: 0;

    &::before {
      background-size: auto auto;
    }
  }
}

.help-buyer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $black-1;
  letter-spacing: 0.04em;


  &:not(:last-of-type) {
    margin: 0 0 10px 0;
  }

  &:last-of-type {
    margin: 0;
  }

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 36px;
  }
}

.help-buyer__text-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: $black-1;
  letter-spacing: 0.04em;


  &:not(:last-of-type) {
    margin: 0 0 10px 0;
  }

  &:last-of-type {
    margin: 0;
  }


  @include media-breakpoint-up(md) {
    font-size: 25px;
    line-height: 33px;
  }
}

.help-buyer__item--by-yourself {

  @include media-breakpoint-up(md) {
    &::before {
      background-image: url("../../img/new_main_page/buyer/by-yourself.png");
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 461px;

    &::before {
      left: -154px;
      top: -126px;
      width: 188px;
      height: 215px;
    }
  }
}

.help-buyer__item--impossible {

  @include media-breakpoint-up(md) {
    &::before {
      background-image: url("../../img/new_main_page/buyer/impossible.png");
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 610px;
    top: 110px;
    max-width: 480px;

    &::before {
      left: -127px;
      top: -146px;
      width: 188px;
      height: 215px;
    }
  }

}

.help-buyer__item--delivery {

  @include media-breakpoint-up(md) {
    &::before {
      background-image: url("../../img/new_main_page/buyer/item--delivery.png");
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 145px;
    bottom: 83px;
    max-width: 421px;

    &::before {
      left: -111px;
      top: -95px;
      width: 188px;
      height: 215px;
    }
  }

}

.help-buyer__purchase-wrapper {
  background: $white;
  border-radius: 20px;
  padding: 20px 0 235px 0;

  @include media-breakpoint-up(md){
    padding: 20px 0 300px 0;
  }


  @include media-breakpoint-up(lg) {
    padding: 80px 0;
    padding-bottom: 198px;
    background: url("../../img/new_main_page/buyer/help-buyer-line.svg"), $white;
    background-repeat: no-repeat;
    background-position: -122px 43px;
  }

}

.help-buyer__content-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 330px;
    height: 250px;
    bottom: -250px;
    left: calc(50% - 140px);
    background-image: url("../../img/new_main_page/buyer/help-buyer.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {
    &::before {
      width: 500px;
      height: 350px;
      left: calc(50% - 230px);
      top: 150px;
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: end;
    padding-left: 480px;

    &::before {
      width: 1030px;
      height: 772px;
      left: -202px;
      top: -160px;
      background-size: auto;
    }
  }
}

.help-buyer__content {
  @include media-breakpoint-up(lg) {
    max-width: 590px;

    &::before {
      position: absolute;
      content: "";
      display: block;

    }
  }
}

.help-buyer__purchase-heading {
  margin: 0 0 15px 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin: 0 0 40px 0;
    text-align: start;
  }
}

.help-buyer__purchase-text {
  text-align: center;

  @include media-breakpoint-up(md){
    text-align: start;
  }
}

.help-buyer__sending {
  transform: translateY(-10%);

  @include media-breakpoint-up(md){
    transform: translateY(-15%);
  }

  @include media-breakpoint-up(lg){
    transform: translateY(-55%);
  }
}


