.how-issue {
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 70px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 148px;
  }
}

.how-issue ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: url("../../img/new_main_page/buyer/how-issue.svg");
  background-repeat: no-repeat;
  background-position: left calc(50% - 30px) top -10px;

  @include media-breakpoint-up(md) {
    background-position: left calc(50% - 30px) top -40px;
  }

  @include media-breakpoint-up(lg) {
    background-position: left calc(50% - 30px) top 130px;
  }
}

.how-issue__heading {
  text-align: center;

  & span {
    text-transform: uppercase;
  }

  @include media-breakpoint-up(md) {
    text-align: start;

  }

  @include media-breakpoint-up(lg) {
    text-align: start;
    margin: 0 0 59px 0;
  }
}

.how-issue__item {
  position: relative;
  display: flex;
  margin-top: 130px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 67px;
    height: 67px;
    top: -90px;
    right: calc(50% - 35px);
    box-shadow: 0 0 30px rgba(0,0,0, 0.05);
    border-radius: 10px;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    top: -32px;
    right: calc(50% - 11px);
    border-radius: 50%;
    background-image: radial-gradient($white, $white 4px, $grey-dark 5px, $grey-dark 7px, transparent 8px);
    box-shadow: 0 4px 4px 0 rgba($black, 0.25), 0 14px 14px 0 rgba(#808080, 0.32);
    border: 2px solid #c1c1c1;
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    margin-top: 190px;

    &::before {
      width: 135px;
      height: 135px;
      top: -170px;
      border-radius: 20px;
      background-position: center;
      background-size: 51px 51px;
      background-repeat: no-repeat;
    }

    &::after {
      width: 38px;
      height: 38px;
      top: -55px;
      left: calc(50% - 35px);
      background-image: radial-gradient($white, $white 9px, $grey-dark 10px, $grey-dark 14px, transparent 15px);
      border: 5px solid $grey-light-1;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.how-issue__item--choice {

  &::before {
    background-image: url("../../img/new_main_page/buyer/choice.png");
    background-color:  $white;
  }

  @include media-breakpoint-up(md) {
    &::before {
      right: calc(50% - 50px);
      background-size: 102px 102px;
    }

  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 72px;
    margin-right: 680px;
  }
}

.how-issue__item-wrapper--choice {
  @include media-breakpoint-up(lg) {
    max-width: 460px;
  }
}

.how-issue__item--redemption {

  &::before {
    background-image: url("../../img/new_main_page/buyer/redemption.png");
    background-color:  $white;
  }

  @include media-breakpoint-up(md) {

    &::before {
      right: calc(50% - 50px);
      background-size: 102px 102px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 111px;
  }
}

.how-issue__item-wrapper--redemption {
  @include media-breakpoint-up(lg) {
    max-width: 488px;
  }
}

.how-issue__item--shipment {
  justify-content: center;

  &::before {
    background-image: url("../../img/new_main_page/buyer/shipment.png");
    background-color:  $white;
  }

  @include media-breakpoint-up(md) {
    justify-content: start;

    &::before {
      right: calc(50% - 55px);
      background-size: 102px 102px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 225px;

  }
}


.how-issue__item-wrapper--shipment {
  @include media-breakpoint-up(lg) {
    max-width: 407px;
  }
}

.how-issue__item--pay {

  &::before {
    background-image: url("../../img/new_main_page/buyer/pay.png");
    background-color:  $white;
  }

  @include media-breakpoint-up(md) {

    &::before {
      right: calc(50% - 55px);
      background-size: 102px 102px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 43px;
    margin-right: 15px;

    &::after {
      top: 55px;
    }
  }
}

.how-issue__item-wrapper--pay {
  @include media-breakpoint-up(lg) {
    max-width: 472px;
  }
}

.how-issue__item--left {
  @include media-breakpoint-up(lg) {
    margin-right: 630px;

    &::before {
      left: calc(50% + 246px);
      top: 0;
    }

    &::after {
      left: calc(50% + 295px);
      top: 116px;
    }
  }

}

.how-issue__item--right {
  @include media-breakpoint-up(lg) {
    margin-left: 630px;
    justify-content: end;

    &::before {
      right: calc(50% + 249px);
      top: 0;
    }

    &::after {
      left: calc(50% - 335px);
      top: 116px;
    }
  }
}

.how-issue__item:last-child {
  &::after {
    top: -98px;
  }

  @include media-breakpoint-up(md) {
    &::after {
      top: -190px;
    }
  }
  @include media-breakpoint-up(lg) {
    &::after {
      top: -16px;
    }
  }
}


.how-issue__tertiary {
  text-align: center;
  letter-spacing: -0.005em;

  @include media-breakpoint-up(md) {
    text-align: start;
  }
  margin: 0 0 20px 0;
}

.how-issue__text {
  text-align: center;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(md) {
    text-align: start;
  }
}

.how-issue__container {
  padding-bottom: 17px;
}
