.how-issue {
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 70px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 150px;
  }
}

.how-issue ul {
  list-style: none;
  margin: 0;
  padding: 0;

  @include media-breakpoint-up(lg) {
    background-image: url("../../img/new_main_page/buyer/how-issue.svg");
    background-repeat: no-repeat;
    background-position: center top 150px;
  }
}

.how-issue__heading {
  text-align: center;

  & span {
    text-transform: uppercase;
  }

  @include media-breakpoint-up(md) {
    text-align: start;
  }

  @include media-breakpoint-up(lg) {
    text-align: start;
    margin: 0 0 59px 0;
  }
}

.how-issue__item {
  position: relative;
  display: flex;
  margin-top: 130px;

  &::before {
    position: absolute;
    display: block;
    content: "";
  }

  @include media-breakpoint-up(md) {
    margin-top: 160px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.how-issue__item--choice {

  &::before {
    width: 170px;
    height: 200px;
    top: -130px;
    left: calc(50% - 80px);
    background-image: url("../../img/new_main_page/buyer/choice.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {

    &::before {
      width: 250px;
      height: 200px;
      left: calc(50% - 80px);
      top: -170px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 72px;

    &::before {
      width: 200px;
      height: 200px;
      left: 502px;
      top: -30px;
      background-size: auto auto;
    }
  }
}

.how-issue__item-wrapper--choice {
  @include media-breakpoint-up(lg) {
    max-width: 460px;
  }
}

.how-issue__item--redemption {

  &::before {
    width: 125px;
    height: 210px;
    top: -130px;
    right: calc(50% - 50px);
    background-image: url("../../img/new_main_page/buyer/redemption.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {

    &::before {
      width: 175px;
      height: 210px;
      right: calc(50% - 100px);
      top: -170px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 111px;
    justify-content: end;

    &::before {
      right: 522px;
      top: -30px;
      background-size: auto auto;
    }
  }
}

.how-issue__item-wrapper--redemption {
  @include media-breakpoint-up(lg) {
    max-width: 488px;
  }
}

.how-issue__item--shipment {
  justify-content: center;

  &::before {
    width: 135px;
    height: 204px;
    right: calc(50% - 60px);
    top: -130px;
    background-image: url("../../img/new_main_page/buyer/shipment.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {
    justify-content: start;

    &::before {
      width: 175px;
      height: 204px;
      right: calc(50% - 100px);
      top: -170px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 225px;

    &::before {
      left: 502px;
      top: -30px;
      background-size: auto auto;
    }
  }
}


.how-issue__item-wrapper--shipment {
  @include media-breakpoint-up(lg) {
    max-width: 407px;
  }
}

.how-issue__item--pay {

  &::before {
    width: 135px;
    height: 204px;
    right: calc(50% - 65px);
    top: -140px;
    background-image: url("../../img/new_main_page/buyer/pay.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {

    &::before {
      width: 175px;
      height: 204px;
      right: calc(50% - 100px);
      top: -160px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 43px;
    margin-right: 17px;
    justify-content: end;

    &::before {
      right: 502px;
      top: -30px;
      background-size: auto auto;
    }
  }
}

.how-issue__item-wrapper--pay {
  @include media-breakpoint-up(lg) {
    max-width: 472px;
  }
}

.how-issue__tertiary {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: start;
  }
  margin: 0 0 20px 0;
}

.how-issue__text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 29px;
    text-align: start;
  }
}

.how-issue__container {
  padding-bottom: 15px;
}
