.main-banner {
  overflow: hidden;
}

.main-banner__wrapper {
  position: relative;
  padding: 40px 0;
  padding-bottom: 370px;
  background-color: $yellow;
  border-radius: 40px;

  @include media-breakpoint-up(lg) {
    min-height: 754px;
    padding: 112px 0;
  }

  &::after {
    content: "";
    display: block;
    width: 216px;
    height: 275px;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 38px;
    transform: translateX(-50%);
    background-image: url("../img/man-with-boxes-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include media-breakpoint-up(lg) {
      width: 502px;
      height: 638px;
      top: 43px;
      bottom: auto;
      left: calc(50% + 2px);
      transform: translateX(0);
    }
  }

  &::before {
    content: "";
    display: block;
    width: 674px;
    height: 349px;
    position: absolute;
    left: calc(50% - 55px);
    bottom: -6px;
    transform: translateX(-50%);
    background-image: url("../img/main-banner-lines-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include media-breakpoint-up(lg) {
      width: 2438px;
      height: 1282px;
      top: -308px;
      bottom: auto;
      left: calc(50% - 11px);
      background-image: url("../img/main-banner-lines.svg");
    }
  }
}

.main-banner__text {
  position: relative;
  padding: 0 12px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding: 0;
    text-align: left;
  }
}

.main-banner__lead {
  display: block;
  margin-bottom: 20px;
}

.main-banner__desc {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}

.main-banner__features {
  list-style: none;
  padding: 0;
  transform: translateY(-20px);

  @include media-breakpoint-up(lg) {
    margin-top: 10px;
    transform: translateY(-25%);
  }

  @include media-breakpoint-up(xl) {
    margin: 0;
    transform: translateY(-50%);
  }
}

.main-banner__feature {
  margin-bottom: 20px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
}

.main-banner__feature-item {
  height: 100%;
  padding: 20px 15px;
  background-color: $white;
  border-radius: 20px;

  @include block-shadow;

  @include media-breakpoint-up(lg) {
    padding: 40px;
    padding-bottom: 32px;
  }
}

.main-banner__feature-title {
  display: block;
  margin: 0;
  margin-bottom: 10px;

  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
}

.main-banner__feature-price {
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: $blue;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
  }
}
