@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&display=swap&subset=cyrillic-ext");


.orders-wrapper {
  width: 100%;
  max-width: 817px;
  min-height: 300px;
}

.my-order {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  border: 2px solid $black;
  padding: 21px;
  border-radius: 7px;
  box-shadow: 0 0 20px 0 rgba(213, 234, 241, 0.5);
}

.my-order__bb {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -22px;
    right: -22px;
    bottom: 0;
    height: 1px;
    background-color: $black;
  }
}

.my-order__field-group {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.my-order__field-group--params {
  padding-bottom: 5px;
}

.my-order__field-group--replacements {
  padding-top: 19px;
  margin-bottom: 6px;
}

.my-order__field {
  margin-bottom: 14px;
}

.my-order__col-1-2 {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.my-order__col-1-4 {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 25%;
  }
}

.my-order__button {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background-color: $blue-4;
  border-radius: 5px;
  color: $white;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-bottom: 14px;
  transition: background-color 0.2s linear;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    width: auto;
    margin-bottom: 0;
  }

  &:hover {
    background-color: rgba($blue-4, 0.8);
  }

  &:active {
    color: rgba($white, 0.6);
  }
}

.my-order__button--white {
  background-color: $white;
  color: $blue-4;
  padding: 10px 12px;
  border: 2px solid $blue-4;

  &:hover {
    color: rgba($blue-4, 0.8);
    background-color: $white;
  }

  &:active {
    color: rgba($blue-4, 0.6);
  }
}
