.packaging__heading {
  color: $white;
  padding: 61px 10px 40px;
  text-align: center;
  margin: 0;

  @include media-breakpoint-up(lg) {
    text-align: left;
    padding: 155px 0 98px;
  }
}

.packaging__list {
  @include list-reset;
  padding-bottom: 41px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 154px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.packaging__item {
  color: $white;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-image: url("../../img/new_main_page/packaging-cross-sign.svg"), radial-gradient($white, $white 9px, $blue 10px, $blue 15px, $blue-light 16px);
    background-position: top 15px left 15px, center;
    background-repeat: no-repeat;
    background-size: 10px 10px, 40px 40px;
  }

  @include media-breakpoint-up(lg) {

    text-align: left;
    width: 24%;

    &::before {
      width: 60px;
      height: 60px;
      transform: none;
      left: 0;
      top: -29px;
      background-image: url("../../img/new_main_page/packaging-cross-sign.svg"), radial-gradient($white, $white 14px, $blue 15px, $blue 22px, $blue-light 23px);
      background-position: top 23px left 23px, center;
      background-size: 14px 14px, 60px 60px;
    }
  }
}

.packaging__item-wrapper {
  padding: 60px 7px 20px;

  @include media-breakpoint-up(lg) {
    padding: 50px 13px 0 0;
  }
}

.packaging__desc {
  margin: 0 0 10px;
  line-height: 29px;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

.packaging__cost {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    line-height: 54px;
  }
}

.packaging__cost-note {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 21px;
    transform: none;
    left: 5px;
  }
}
