.paid-reviews__heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  &--youtube {
    @include media-breakpoint-up(lg) {
      width: 67%;
    }
  }

  @include media-breakpoint-up(lg) {
    text-align: left;
    font-size: 60px;
    line-height: 78px;
  }
}

.paid-reviews__question {
  font-family: "Jost", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
  color: $black-1;
  margin-top: 0;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    text-align: left;
    font-size: 40px;
    line-height: 52px;
  }
}

.paid-reviews__details {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    text-align: left;
    font-size: 16px;
    line-height: 29px;
  }
}

.paid-reviews__list {
  @include list-reset;
  padding-left: 120px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 83px;

  @include media-breakpoint-up(lg) {
    padding-left: 0;
    margin-bottom: 100px;
    justify-content: flex-end;
  }
}

.paid-reviews__list-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 29px;
    padding-top: 215px;
  }
}

.paid-reviews__list-item--insta-video {
  @include media-breakpoint-up(lg) {
    padding-right: 97px;
  }
}

.paid-reviews__list-item--youtube-video {
  @include media-breakpoint-up(lg) {
    padding-right: 145px;
  }
}

.paid-reviews__details--insta {
  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}

.paid-reviews__details--insta-video {
  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}


