.paid-services {
  overflow: hidden;
}

.paid-services__wrapper {
  padding: 0 7px;
  background-color: $grey-dark;
  border-radius: 20px;
}

.paid-services__heading {
  color: $white;
  padding: 60px 13px 63px;
  text-align: center;
  margin: 0;

  @include media-breakpoint-up(lg) {
    font-size: 60px;
    line-height: 78px;
    text-align: left;
    padding: 104px 0 100px;
  }
}

.paid-services__list {
  @include list-reset;

  @include media-breakpoint-up(lg) {
    padding: 0 30px;
  }
}

.paid-services__item {
  margin-bottom: 43px;
  padding: 37px 26px 20px;
  text-align: center;
  border-radius: 14px;
  background-color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  position: relative;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-image: url("../img/services-paid-dollar-sign.svg"), radial-gradient($white, $white 9px, $grey-dark 10px, $grey-dark 15px, $grey-light-1 16px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 13px, 40px 40px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
    padding: 20px 20px 20px 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;

    &::before {
      width: 60px;
      height: 60px;
      transform: none;
      left: -24px;
      top: 16px;
      background-image: url("../img/services-paid-dollar-sign.svg"), radial-gradient($white, $white 14px, $grey-dark 15px, $grey-dark 22px, $grey-light-1 23px);
      background-size: 12px 19px, 60px 60px;
    }

    &:last-child {
      padding-bottom: 20px;
    }
  }
}

.paid-services__desc {
  margin: 0 0 10px 0;
  line-height: 29px;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    width: 77.5%;
    padding-right: 20px;
    flex-shrink: 0;
  }
}

.paid-services__cost {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $blue;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    line-height: 54px;
  }
}

.paid-services__cost-note {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 21px;
    bottom: 0;
    padding-left: 20px;
  }
}

.packaging__heading {
  color: $white;
  padding: 60px 10px 40px;
  text-align: center;
  margin: 0;

  @include media-breakpoint-up(lg) {
    text-align: left;
    padding: 150px 0 98px;
  }
}

.packaging__list {
  @include list-reset;
  padding-bottom: 41px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 154px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.packaging__item {
  color: $white;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-image: url("../img/packaging-cross-sign.svg"), radial-gradient($white, $white 9px, $blue 10px, $blue 15px, $blue-light 16px);
    background-position: top 15px left 15px, center;
    background-repeat: no-repeat;
    background-size: 10px 10px, 40px 40px;
  }

  @include media-breakpoint-up(lg) {

    text-align: left;
    width: 24%;

    &::before {
      width: 60px;
      height: 60px;
      transform: none;
      left: 0;
      top: -29px;
      background-image: url("../img/packaging-cross-sign.svg"), radial-gradient($white, $white 14px, $blue 15px, $blue 22px, $blue-light 23px);
      background-position: top 23px left 23px, center;
      background-size: 14px 14px, 60px 60px;
    }
  }
}

.packaging__item-wrapper {
  padding: 60px 7px 20px;

  @include media-breakpoint-up(lg) {
    padding: 50px 13px 0 0;
  }
}

.packaging__desc {
  margin: 0 0 10px;
  line-height: 29px;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

.packaging__cost {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    line-height: 54px;
  }
}

.packaging__cost-note {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 21px;
    transform: none;
    left: 5px;
  }
}
