.promo-slider__main-wrapper {
  position: relative;
}

.promo-slider__container {
  position: relative;


  @include media-breakpoint-up(lg) {
    padding: 0 82px;
  }
}

.promo-slider__wrapper {
  position: relative;
  z-index: 1;
}

.promo-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 14px 10px;
  padding-bottom: 95px;
  background-color: $blue-light-1;
  border: 2px dashed #808181;
  border-radius: 40px;
  text-align: center;
  color: $grey-dark;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    min-height: 497px;
    padding: 14px 10px;
    text-align: left;
  }
}

.no-js .promo-slider__item:not(:first-of-type) {
  display: none;
}

.promo-slider__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 269px;
  flex-shrink: 0;
  margin-bottom: 20px;

  img {
    max-height: 100%;
  }

  @include media-breakpoint-up(md) {
    height: auto;
    width: 50%;
    margin-bottom: 0;
  }
}

.promo-slider__text {
  padding: 0 15px;

  @include media-breakpoint-up(md) {
    width: 50%;
    padding: 117px 40px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: auto;
  }
}

.promo-slider__title {
  font-family: "Jost", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0;
  color: $black;
  margin: 0;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    font-size: 40px;
    line-height: 48px;
  }
}

.promo-slider__desc {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 27px;
  }
}


.promo-slider__nav {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    position: absolute;
    height: 0;
    top: 50%;
    left: -15px;
    right: -15px;
    z-index: 1;
  }

  @include media-breakpoint-up(lg) {
    left: 0;
    right: 0;
  }

  @include media-breakpoint-up(xxl) {
    left: -30px;
    right: -30px;
  }
}

.promo-slider__dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 1;

  @include media-breakpoint-up(md) {
    left: calc(50% + 10px);
    bottom: 108px;
    transform: none;
  }
}
