.purchase-help {
  margin-bottom: 13px;
}

.purchase-help__wrapper {
  background: $white;
  border-radius: 20px;
  padding: 20px 0 150px 0;

  @include media-breakpoint-up(md){
    padding: 20px 0 300px 0;
  }


  @include media-breakpoint-up(lg) {
    padding: 80px 0;
    padding-bottom: 198px;
    background: url("../../img/new_main_page/buyer/purchase-help-line.svg"), $white;
    background-repeat: no-repeat;
    background-position: -122px 43px;
  }

}

.purchase-help__content-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 230px;
    height: 150px;
    bottom: -150px;
    left: calc(50% - 120px);
    background-image: url("../../img/new_main_page/buyer/purchase-help.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @include media-breakpoint-up(md) {
    &::before {
      width: 500px;
      height: 350px;
      left: calc(50% - 230px);
      top: 150px;
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: end;
    padding-left: 480px;

    &::before {
      width: 1030px;
      height: 772px;
      left: -200px;
      top: -163px;
      background-size: auto;
    }
  }
}

.purchase-help__content {
  @include media-breakpoint-up(lg) {
    max-width: 590px;

    &::before {
      position: absolute;
      content: "";
      display: block;

    }
  }
}

.purchase-help__heading {
  margin: 0 0 15px 0;

  @include media-breakpoint-up(md) {
    margin: 0 0 40px 0;
  }

}

.purchase-help__text {
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 29px;
  }
}

.purchase-help__sending {
  transform: translateY(-10%);

  @include media-breakpoint-up(md){
    transform: translateY(-15%);
  }

  @include media-breakpoint-up(lg){
    transform: translateY(-55%);
  }
}
