.question-mark {
  @include button-reset;
  @include color-transition;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba($black, 0.25);

  svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    color: $blue;
  }
}
.question-mark--xl {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 5px solid #DDEAFF;
  box-shadow: 0 14px 14px 0 rgba(20, 103, 255, 0.28);

  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12 4.2C7.12 3.33333 6.85333 2.66667 6.32 2.2C5.8 1.73333 5.08667 1.5 4.18 1.5C3.51333 1.5 2.94 1.65333 2.46 1.96C1.99333 2.25333 1.60667 2.65333 1.3 3.16L0 2.34C0.306667 1.87333 0.646667 1.46667 1.02 1.12C1.39333 0.76 1.84667 0.486666 2.38 0.3C2.92667 0.0999999 3.59333 0 4.38 0C5.22 0 5.96667 0.186667 6.62 0.56C7.27333 0.92 7.78667 1.42 8.16 2.06C8.54667 2.68667 8.74 3.4 8.74 4.2C8.74 4.96 8.54 5.65333 8.14 6.28C7.74 6.89333 7.22 7.39333 6.58 7.78C5.94 8.15333 5.24667 8.36 4.5 8.4L4.36 10.8H3.16L2.76 7.3H3.28C4.08 7.3 4.76667 7.14667 5.34 6.84C5.91333 6.53333 6.35333 6.14667 6.66 5.68C6.96667 5.2 7.12 4.70667 7.12 4.2ZM2.7 13.4C2.7 13.0933 2.80667 12.8333 3.02 12.62C3.24667 12.4067 3.50667 12.3 3.8 12.3C4.10667 12.3 4.36667 12.4067 4.58 12.62C4.79333 12.8333 4.9 13.0933 4.9 13.4C4.9 13.6933 4.79333 13.9533 4.58 14.18C4.36667 14.3933 4.10667 14.5 3.8 14.5C3.50667 14.5 3.24667 14.3933 3.02 14.18C2.80667 13.9533 2.7 13.6933 2.7 13.4Z' fill='%231467FF'/%3E%3C/svg%3E%0A");
  }
}
