.reviews-general {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 407px;
    height: 213px;
    top: 10px;
    transform: translateX(-50%);
    left: calc(50% + 10px);
    background-image: url("../../img/new_main_page/paid-reviews/review-general-line-mob.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }
}

.reviews-general__top-wrapper {
  text-align: center;
  padding-bottom: 275px;
  border-radius: 20px;
  background-color: $grey-extra-light2;
  margin-bottom: 117px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 334px;
    height: 251px;
    bottom: 30px;
    transform: translateX(-50%);
    left: calc(50% + 10px);
    background-image: url("../../img/new_main_page/paid-reviews/reviews-general.png");
    background-repeat: no-repeat;
    background-size: 100%;
    // z-index: 1;

    @include media-breakpoint-up(lg) {
      width: 718px;
      height: 718px;
      transform: none;
    }
  }

  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-bottom: 88px;
    margin-bottom: 100px;
    // padding-right: 586px;
  }
}

.reviews-general__inner-wrapper {
  @include media-breakpoint-up(lg) {
    padding-right: 586px;
  }
}

.reviews-general__heading {
 margin-top: 0;
 margin-bottom: 20px;

 @include media-breakpoint-up(lg) {
   padding-top: 70px;
   margin-bottom: 40px;
 }
}

.reviews-general__text {
  margin-top: 0;
  margin-bottom: 20px;

  &--floating {
    background-color: $white;
    border-radius: 20px;
    min-width: 294px;
    position: absolute;
    margin-bottom: 0;
    transform: translateX(-50%);
    left: calc(50% + 10px);
    bottom: -45px;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      min-width: none;
      max-width: 424px;
      bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}


.reviews-general__text-wrapper {
  border-radius: 20px;
}
