.service__wrapper {
  position: relative;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: start;
    padding-left: 10px;
  }
}

.service__heading {
  margin: 0 0 20px 0;
  padding: 0 50px;

  @include media-breakpoint-up(lg) {
    padding: 0;
    margin: 0 0 100px 0;
  }
}

.service__text {
  padding: 0 65px;
  margin: 0 0 394px 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
    padding: 0 450px 0 0;
  }
}

.service__list-wrapper {
  padding: 0 23px;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

.service__list {
  position: relative;
  text-align: start;
  padding-left: 24px;
  margin: 0 0 40px 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: calc(100% + 40px);
    right: 50%;
    transform: translateX(50%);
    width: 330px;
    height: 314px;
    background-image: url("../../img/new_main_page/service-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @include media-breakpoint-up(lg) {
      top: 0;
      right: calc(100% + 80px);
      transform: none;
      width: 531px;
      height: 504px;
      background-image: url("../../img/new_main_page/service.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
