.services {
  overflow: hidden;
}

.services__wrapper {
  padding: 0 15px;
  background-color: $white;
  border-radius: 20px;

  @include media-breakpoint-up(md) {
    padding: 0;
    overflow: hidden;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 10px;
  }
}

.services__heading {
  text-align: center;
  max-width: 280px;
  margin: 0 auto 56px;

  @include media-breakpoint-up(lg) {
    max-width: none;
    text-align: left;
    margin: 0 auto 105px;
    padding-top: 70px;
  }
}

.services__list-wrapper {
  @include media-breakpoint-up(md) {
    max-width: 728px;
    margin: 0 auto;
  }

  @include media-breakpoint-up(lg) {
    max-width: none;
    margin: 0;
  }
}

.services__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 553px;
    height: 428px;
    position: absolute;
    top: -283px;
    left: calc(50% + 69px);
    transform: translateX(-50%);
    background-image: url("../img/services-lines-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }

  @include media-breakpoint-up(md) {
    &::before {
      width: 848px;
      left: calc(50% + 200px);
      background-image: url("../img/services-lines.svg");
    }
  }

  @include media-breakpoint-up(lg) {
    &::before {
      top: -327px;
      left: calc(50% + 383px);
      transform: translateX(-50%);
    }
  }
}

.services__item-wrapper {
  max-width: 270px;
  margin: 0 auto;


  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 245px;
    height: 100%;
  }

  @include media-breakpoint-up(lg) {
    max-width: none;
    padding: 0 0 100px 0;
  }
}

.services__title {
  margin: 0 0 10px 0;
  padding: 0 40px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient($white, $white 5px, $grey-dark 6px, $grey-dark 7px, $grey-light-1 8px);
    box-shadow: 0 4px 14px rgba(128, 128, 128, 0.22);
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    padding: 0 0 0 40px;
    min-height: 52px;

    &::before {
      width: 25px;
      height: 25px;
      background-image: radial-gradient($white, $white 6px, $grey-dark 7px, $grey-dark 8px, $grey-light-1 9px);
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0 40px;
    padding-right: 30px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 26px;
  }
}

.services__text {
  font-size: 14px;
  line-height: 25px;
  margin: 0 0 10px 0;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 29px;
    padding-right: 10px;
    margin: 0;
    margin-bottom: 10px;
  }
}

.services__price {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  color: $blue;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-top: auto;
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 36px;
    padding: 10px 0 0;
  }
}
