.slider-nav {
  @include list-reset;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(xl) {
    transform: translateY(-30px);
  }
}

.slider-nav__btn {
  // position: relative;
  @include button-reset;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 5px solid $blue-light-1;
  background-color: $blue;
  border-radius: 50%;
  box-shadow: 0 14px 14px 0 rgba($blue, 0.28);
  transition: all 0.2s ease;
  background-position: center;
  background-repeat: no-repeat;
  // z-index: 10;
  cursor: pointer;

  @include media-breakpoint-up(xl) {
    width: 60px;
    height: 60px;
    border-width: 8px;
  }

  &--prev {
    background-image: url("../../img/new_main_page/arrow-left.svg");
  }

  &--next {
    background-image: url("../../img/new_main_page/arrow-right.svg");
  }

  &:hover {
    box-shadow: 0 14px 14px 0 rgba($blue, 0.2);
  }

  &:active {
    background-color: $blue-dark;
    box-shadow: 0 14px 14px 0 rgba($blue, 0.1);
  }

  &--disabled {
    background-color: $blue-light;

    &:hover {
      box-shadow: 0 14px 14px 0 rgba($blue, 0.28);
    }

    &:active {
      background-color: $blue-light;
    }
  }
}
