.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  @include color-transition;

  &:hover svg {
    fill: $blue;
  }

  &:active svg {
    fill: $blue-dark;
  }
}
