.subscribe {
  margin-bottom: 55px;
  padding: 0 25px 0 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 167px;
    padding: 0;
  }
}

.subscribe__form {
  display: grid;
  gap: 20px;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.subscribe__wrapper {
  position: relative;
  padding-top: 293px;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 56px;
    left: 58%;
    transform: translateX(-49%);
    width: 260px;
    height: 224px;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @include media-breakpoint-up(lg) {
      top: -133px;
      left: calc(50% - 44px);
      transform: translateX(-75%);
      width: 745px;
      height: 601px;
    }
  }
}

.subscribe__text {
  margin: 0 0 40px 8px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: start;
    margin-left: 0;

    & .transfer {
      display: none;
    }
  }
}
