.subscribe {
  margin-bottom: 55px;
  padding: 0 22px;

  @include media-breakpoint-up(lg) {
    padding: 0;
    padding-top: 120px;
    margin-bottom: 167px;
  }
}

.subscribe__form {
  display: grid;
  gap: 20px;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.subscribe__button {
  min-width: auto;
}

.subscribe__wrapper {
  position: relative;
  padding-top: 293px;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 49px;
    left: 58%;
    transform: translateX(-50%);
    width: 260px;
    height: 243px;
    background-image: url("../img/subscribe-email-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;

    @include media-breakpoint-up(lg) {
      top: -133px;
      left: calc(50% - 44px);
      transform: translateX(-75%);
      width: 742px;
      height: 675px;
      background-image: url("../img/subscribe-email.png");
    }
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: start;
  }
}
