.tariffs {
  padding-top: 40px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding-top: 70px;
    text-align: left;
  }
}

.tariffs__wrapper {
  position: relative;
  overflow: visible;
  text-align: left;

  @include media-breakpoint-up(xl) {
    &::before,
    &::after {
      content: "";
      display: block;
      width: 50vw;
      height: 200%;
      position: absolute;
      left: 100%;
      top: -20px;
      background-image: linear-gradient(to right, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1) 88px);
      z-index: 10;
    }

    &::before {
      left: auto;
      right: 100%;
      background-image: linear-gradient(to left, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1) 88px);
    }
  }
}

.tariffs__heading {
  display: inline-block;
  padding: 15px;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  letter-spacing: 0;
  background-color: $black;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 8px;

  @include media-breakpoint-up(lg) {
    padding: 20px;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 22px;
  }
}

.tariffs__list {
  @include list-reset;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 40px;

  @include media-breakpoint-up(xl) {
    padding-top: 60px;
  }
}

.tariffs__item {
  flex-shrink: 0;
  width: 250px;
  margin-right: 27px;

  &:not(:first-of-type) & .no-js {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  @include media-breakpoint-up(xl) {
    display: block;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.tariffs__slider-nav {
  position: absolute;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  left: 20px;
  right: 20px;
  z-index: 11;

  @include media-breakpoint-up(xl) {
    left: 0;
    right: 0;
  }

  @include media-breakpoint-up(xl) {
    left: -20px;
    right: -20px;
  }

  @include media-breakpoint-up(xxl) {
    left: -30px;
    right: -30px;
  }
}

.tariffs__extra-info {
  display: flex;
  column-gap: 20px;
  align-items: center;

  p {
    color: $blue;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
  }
}
