.tariff {
  position: relative;
  padding: 30px;
  cursor: pointer;

  @include block-shadow;

  @include media-breakpoint-up(lg) {
    padding-top: 24px;
  }

  // &::after {
  //   content: "";
  //   opacity: 0;
  //   transition: opacity 0.8s ease;
  // }

  &--active {
    background-color: $yellow;

    // .tariffs--with-info & {
    //   @include media-breakpoint-up(md) {
    //     &::after {
    //       // content: "";
    //       display: block;
    //       height: 120px;
    //       position: absolute;
    //       left: 0;
    //       right: 0;
    //       bottom: -120px;
    //       background-color: $white;
    //       z-index: -1;
    //       opacity: 1;

    //     }
    //   }
    // }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &--econom::before {
    width: 100px;
    height: 100px;
    top: -30px;
    background-image: url("../img/tariffs/econom.png");

    @include media-breakpoint-up(lg) {
      width: 134px;
      height: 134px;
      top: -66px;
      right: -18px;
    }
  }

  &--one::before {
    width: 63px;
    height: 63px;
    background-image: url("../img/tariffs/one.png");

    @include media-breakpoint-up(lg) {
      width: 84px;
      height: 84px;
      top: -32px;
      right: 7px;
    }
  }

  &--combination::before {
    width: 72px;
    height: 77px;
    background-image: url("../img/tariffs/combination.png");

    @include media-breakpoint-up(lg) {
      width: 96px;
      height: 102px;
      top: -40px;
      right: 6px;
    }
  }

  &--post::before {
    width: 83px;
    height: 84px;
    background-image: url("../img/tariffs/post.png");

    @include media-breakpoint-up(lg) {
      width: 113px;
      height: 111px;
      top: -50px;
      right: 2px;
    }
  }

  &--parcel::before {
    width: 74px;
    height: 89px;
    top: -30px;
    background-image: url("../img/tariffs/parcel.png");

    @include media-breakpoint-up(lg) {
      width: 99px;
      height: 119px;
      top: -54px;
      right: 0;
    }
  }
}

.tariff__wrapper {
  position: relative;
}

.tariff__label {
  display: block;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: $grey-medium;
  margin-bottom: 1px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: -3px;
  }
}

.tariff__title {
  display: block;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: $black-1;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

.tariff__time,
.tariff__features-title {
  display: block;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $black-1;
  text-align: center;
  letter-spacing: 0;
  margin: 0;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
  }
}

.tariff__features-title-wrapper {
  line-height: 21px;
  text-align: center;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 5px;
  }
}

.tariff__features-title {
  display: inline-block;
  margin: 0;
}

.tariff__price {
  display: block;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: $blue;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 15px;
  }
}

.tariff__features {
  @include list-reset;
}

.tariff__features-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tariff__features-price {
  display: block;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  color: $blue;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
}
