.user-nav__login {
  position: relative;
  display: block;
  padding: 10px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 20px;
  background-color: $blue;
  color: $white;
  border-radius: 20px;

  @include color-transition;

  transition-property: color, background-color;

  &:hover {
    &::before {
      opacity: 0;
    }
  }

  &:active {
    background-color: $blue-dark;

    &::before {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 20px;
    padding-right: 60px;
    color: $grey-dark;
    background-color: $white;

    &:active {
      background-color: $white;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: block;
    width: 76%;
    height: 18px;
    background-color: rgba($blue, 0.4);
    border-radius: 20px;
    filter: blur(40px);
    z-index: -1;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
}

.user-nav__login-icon-mobile {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.user-nav__login-icon {
  display: none;

  @include color-transition;

  @include media-breakpoint-up(lg) {
    display: block;
    width: 31px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $blue-light;
  }
}

.user-nav__login:active .user-nav__login-icon {
  color: $blue-dark;
}
