.how-to-buy__wrapper {
  border-radius: 20px;
  background-color: $white;
  padding: 0 8px 300px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    transform: translateX(50%);
    left: calc(50% - 278px);
    width: 279px;
    height: 238px;
    bottom: 30px;
    background-image: url("../img/how-to-buy-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 161px;

    &::after {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 590px;
      height: 527px;
      top: 74px;
      right: 110px;
      background-image: url("../img/how-to-buy.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.how-to-buy__heading {
  margin: 0 0 20px;
  text-align: center;
  position: relative;

  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-top: 83px;
    margin-bottom: 37px;
  }
}

.how-to-buy__desc {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  position: relative;

  @include media-breakpoint-up(lg) {
    text-align: left;
    max-width: 63%;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
  }
}
