  <header class="header">
    <div class="container">
      <nav class="main-nav">
        {% if isIndex %}
        <a class="logo main-nav__logo">
        {% else %}
        <a class="logo main-nav__logo" href="index.html">
        {% endif %}
          <img src="img/new_main_page/logo.svg" alt="Логотип Prostobox.com" width="205" height="30">
        </a>
        <button class="main-nav__toggle nav-toggle">
          <span class="nav-toggle__line"></span>
          <span class="visually-hidden">Меню</span>
        </button>
        <div class="main-nav__mobile-wrapper">
          <div class="main-nav__wrapper">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a href="how-to-buy.html">Как покупать в США</a></li>
              <li class="main-nav__item"><a href="#">Калькулятор</a></li>
              <li class="main-nav__item"><a href="#">Скидки в США</a></li>
              <li class="main-nav__item"><a href="#">ЛикБез</a></li>
              <li class="main-nav__item"><a href="#">Блог</a></li>
            </ul>
            <ul class="main-nav__list main-nav__list--mobile">
              <li class="main-nav__item"><a href="#">Обработка персональных данных</a></li>
              <li class="main-nav__item"><a href="#">Условия использования сервиса</a></li>
            </ul>
          </div>
          <div class="main-nav__social">
            <span class="main-nav__social-title">Мы в соцсетях:</span>
            <ul class="main-nav__social-list social">
              <li class="social__item social__item--white">
                <a href="#">
                  <svg class="social__icon-vk" width="30" height="30" viewBox="0 0 22 22">
                    <use xlink:href="img/new_main_page/sprite.svg#vk"></use>
                  </svg>
                  <span class="visually-hidden">вкантакте</span>
                </a>
              </li>
              <li class="social__item social__item--white">
                <a href="#">
                  <svg class="social__icon-instagram" width="30" height="30" viewBox="0 0 30 30">
                    <use xlink:href="img/new_main_page/sprite.svg#instagram"></use>
                  </svg>
                  <span class="visually-hidden">инстограм</span>
                </a>
              </li>
              <li class="social__item social__item--white">
                <a href="#">
                  <svg class="social__icon-telegram" width="30" height="30" viewBox="0 0 30 30">
                    <use xlink:href="img/new_main_page/sprite.svg#telegram"></use>
                  </svg>
                  <span class="visually-hidden">телеграм</span>
                </a>
              </li>
              <li class="social__item social__item--white">
                <a href="#">
                  <svg class="social__icon-facebook" width="30" height="30" viewBox="0 0 30 30">
                    <use xlink:href="img/new_main_page/sprite.svg#facebook"></use>
                  </svg>
                  <span class="visually-hidden">фейсбук</span>
                </a>
              </li>
              <li class="social__item social__item--white">
                <a href="#">
                  <svg class="social__icon-tviter" width="30" height="30" viewBox="0 0 30 30">
                    <use xlink:href="img/new_main_page/sprite.svg#tviter"></use>
                  </svg>
                  <span class="visually-hidden">твитер</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav__user user-nav">

          {% if isAuthenticated %}
            <a class="user-nav__logout" href="index.html" aria-label="Выход">
              <svg class="user-nav__link-icon" width="32" height="30">
                <use href="img/new_main_page/sprite.svg#logout"></use>
              </svg>
            </a>
            <a class="user-nav__link user-nav__profile" href="#">
              <svg class="user-nav__profile-icon" width="20" height="20">
                <use href="img/new_main_page/sprite.svg#profile"></use>
              </svg>
              <span>Личный кабинет</span>
            </a>
          {% else %}
            <a class="user-nav__link user-nav__login" href="auth.html">Вход
              <svg class="user-nav__link-icon user-nav__login-icon" width="31" height="30">
                <use href="img/new_main_page/sprite.svg#login"></use>
              </svg>
              <svg class="user-nav__login-icon-mobile" width="20" height="20">
                <use href="img/new_main_page/sprite.svg#login-mobile"></use>
              </svg>
            </a>
          {% endif %}
          </div>
        </div>

      </nav>
    </div>
  </header>
