<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.min.css">

  <title>{{ siteName }}</title>
</head>
<body>

  {% include "header.html" %}
  {% block main %}{% endblock %}
  {% include "footer.html" %}

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="js/script.min.js"></script>

  <script>
    tippy('.question-mark', {
      //trigger: 'click',
      //hideOnClick: true,
    });
  </script>
</body>
</html>
