<div class="calculator">
  <div class="container">
    <h2 class="calculator__heading heading-primary">Калькулятор</h2>
    <div class="row calculator__wrapper">
      <div class="col-xl-6 d-flex flex-wrap">
        <form class="calculator__form form" action="#">
          <div class="calculator__field">
            <label class="form__label">Страна доставки*</label>
            <select class="form__select form__input" id="country" required autocomplete="off">
              <option value="" disabled selected>Страна</option>
              <option value="RU">Россия</option>
            </select>
          </div>
          <div class="calculator__field">
              <label class="form__label">Город доставки*</label>
              <input class="form__input" type="text" id="city" value="" placeholder="Город">
          </div>
          <div class="calculator__field">
              <label class="form__label">Индекс</label>
              <input class="form__input" id="zip" type="text">
          </div>

          <div class="calculator__field calculator__field--weight">
            <label class="form__label" for="package-weight">Вес посылки*</label>
            <div class="calculator__weight">
              <input class="form__input weight-input" id="package-weight" type="text" value="0.5">
            </div>
            <div class="calculator__unit">
              <select class="form__select form__select--p-sm form__input">
                <option value="kg">Кг</option>
                <option value="lb">фунты</option>
              </select>
            </div>
          </div>

          <div class="calculator__field">
            <label class="form__label">Цена товара </label>
            <input class="form__input" id="price" type="text">
          </div>

          <div class="calculator__field calculator__field--submit">
            <button class="calculator__submit button">Рассчитать доставку</button>
          </div>

        </form>

      </div>
      <div class="col-xl-6">
        <div class="calculator__features-wrapper">
          <ul class="calculator__features list">
            <li>Приём посылок - <b class="blue">$0</b></li>
            <li>Консолидация - <b class="blue">$0</b></li>
            <li>Упаковка стандартная - <b class="blue">$0</b></li>
            <li>Комиссия за пополнение баланса - <b class="blue">$0</b>
              <button class="calculator__features-qm question-mark" data-tippy-content="Внесите примерную стоимость товаров, чтобы узнать стоимость страховки">
                <svg width="20" height="20" viewBox="0 0 20 20">
                  <use xlink:href="img/sprite.svg#question-mark"></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="calculator__tariffs tariffs {% if calcWithDescription %} tariffs--with-info {% endif %}">

      <h3 class="tariffs__heading">Подходящие тарифы:</h3>

      <div class="tariffs__wrapper swiper-container swiper-tariffs">
        <ul class="tariffs__list swiper-wrapper">
          <li class="tariffs__item tariff tariff--active tariff--econom swiper-slide js-tariff-item" data-tariff-id="1">
            <div class="tariff__wrapper">
              <span class="tariff__label">Тариф</span>
              <h3 class="tariff__title">Для экономных</h3>
              <span class="tariff__time">5 - 10 дней</span>
              <b class="tariff__price">$3,99</b>
              <ul class="tariff__features">
                <li class="tariff__features-item">
                  <div class="tariff__features-title-wrapper">
                    <span class="tariff__features-title">Страховка от утери</span>
                  </div>
                  <b class="tariff__features-price">...</b>
                </li>
              </ul>
            </div>
          </li>
          <li class="tariffs__item tariff tariff--one swiper-slide js-tariff-item" data-tariff-id="2">
            <span class="tariff__label">Тариф</span>
            <h3 class="tariff__title">По одной</h3>
            <span class="tariff__time">7 - 14 дней</span>
            <b class="tariff__price">$9,99</b>
            <ul class="tariff__features">
              <li class="tariff__features-item">
                <div class="tariff__features-title-wrapper">
                  <span class="tariff__features-title">Страховка от утери</span>
                  <button class="question-mark" data-tippy-content="Внесите примерную стоимость товаров, чтобы узнать стоимость страховки">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                      <use xlink:href="img/sprite.svg#question-mark"></use>
                    </svg>
                  </button>
                </div>
                <b class="tariff__features-price">$5</b>
              </li>
            </ul>
          </li>
          <li class="tariffs__item tariff tariff--combination swiper-slide js-tariff-item" data-tariff-id="3">
            <span class="tariff__label">Тариф</span>
            <h3 class="tariff__title">С объединением</h3>
            <span class="tariff__time">7 - 14 дней</span>
            <b class="tariff__price">$14,99</b>
            <ul class="tariff__features">
              <li class="tariff__features-item">
                <div class="tariff__features-title-wrapper">
                  <span class="tariff__features-title">Страховка от утери</span>
                  <button class="question-mark" data-tippy-content="Внесите примерную стоимость товаров, чтобы узнать стоимость страховки">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                      <use xlink:href="img/sprite.svg#question-mark"></use>
                    </svg>
                  </button>
                </div>
                <b class="tariff__features-price">$5</b>
              </li>
              <li class="tariff__features-item">
                <div class="tariff__features-title-wrapper">
                  <span class="tariff__features-title">Страховка от утери</span>
                  <button class="question-mark" data-tippy-content="Внесите примерную стоимость товаров, чтобы узнать стоимость страховки">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                      <use xlink:href="img/sprite.svg#question-mark"></use>
                    </svg>
                  </button>
                </div>
                <b class="tariff__features-price">$5</b>
              </li>
            </ul>
          </li>
          <li class="tariffs__item tariff tariff--post swiper-slide js-tariff-item" data-tariff-id="4">
            <span class="tariff__label">Тариф</span>
            <h3 class="tariff__title">Через почту</h3>
            <span class="tariff__time">20 - 30 дней</span>
            <b class="tariff__price">$22,99</b>
            <ul class="tariff__features">
              <li class="tariff__features-item">
                <div class="tariff__features-title-wrapper">
                  <span class="tariff__features-title">Страховка от утери</span>
                </div>
                <b class="tariff__features-price">$5</b>
              </li>
            </ul>
          </li>
          <li class="tariffs__item tariff tariff--parcel swiper-slide js-tariff-item" data-tariff-id="5">
            <span class="tariff__label">Тариф</span>
            <h3 class="tariff__title">Для бандеролек</h3>
            <span class="tariff__time">20 - 30 дней</span>
            <b class="tariff__price">$15,99</b>
            <ul class="tariff__features">
              <li class="tariff__features-item">
                <div class="tariff__features-title-wrapper">
                  <span class="tariff__features-title">Страховка от утери</span>
                  <button class="question-mark" data-tippy-content="Внесите примерную стоимость товаров, чтобы узнать стоимость страховки">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                      <use xlink:href="img/sprite.svg#question-mark"></use>
                    </svg>
                  </button>
                </div>
                <b class="tariff__features-price">$5</b>
              </li>
            </ul>
          </li>
        </ul>
        <div class="tariffs__slider-nav">
          <ul class="slider-nav">
            <li class="slider-nav__item">
              <button class="slider-nav__btn slider-nav__btn--prev"></button>
            </li>
            <li class="slider-nav__item">
              <button class="slider-nav__btn slider-nav__btn--next"></button>
            </li>
          </ul>
        </div>
      </div>

      {% if calcWithDescription %}
        <div class="tariffs__description tariff-info">
          <ul class="tariff-info__tariff-list">
            <li class="tariff-info__tariff tariff-info__tariff--active js-tariff-info-item" id="tariff-info-1">
              <div class="tariff-info__wrapper">
                <b class="tariff-info__title heading-tertiary">Включает в себя:</b>
                <ul class="tariff-info__list tariff-info__list--5 list">
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Участие&nbsp;Почты России</b>
                    <span class="tariff-info__value blue">нет</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Отслеживание посылки</b>
                    <span class="tariff-info__value blue">на нашем сайте</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Частота отправления</b>
                    <span class="tariff-info__value blue">2 раза в неделю каждый понедельник и&nbsp;четверг<br> в 12:00 по времени в&nbsp;штате Делавэр</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Страховка</b>
                    <span class="tariff-info__value blue">$3 на посылки до&nbsp;$100 и $5 на&nbsp;посылки&nbsp;до&nbsp;$500</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Таможенный лимит</b>
                    <span class="tariff-info__value blue">до 200&nbsp;евро и&nbsp;31&nbsp;кг на&nbsp;одну посылку пошлиной не&nbsp;облагаются</span>
                  </li>
                </ul>

                <ul class="tariff-info__list tariff-info__list--bg tariff-info__list--4 list">
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный вес для ПВЗ</b>
                    <span class="tariff-info__value blue">31 кг</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный вес для постамата</b>
                    <span class="tariff-info__value blue">15 кг</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный размер для ПВЗ</b>
                    <span class="tariff-info__value blue">сумма трех сторон 230&nbsp;см, длина меньше 180&nbsp;см</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный размер для постамата</b>
                    <span class="tariff-info__value blue">62,5×56,5×40 см</span>
                  </li>
                </ul>

                <ul class="tariff-info__list tariff-info__list--2 list">
                  <li class="tariff-info__item">
                    <b class="tariff-info__heading blue">Доставка с предварительным оформлением.</b>
                    <span>Необходимо заполнить декларацию,адрес и&nbsp;данные получателя до&nbsp;прихода посылки на&nbsp;склад.</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__heading">Обязательная полная страховка от&nbsp;утери и&nbsp;кражи вложений.</b>
                  </li>
                </ul>
              </div>

              <div class="tariff-info__limits">
                <b class="tariff-info__limits-title heading-tertiary">Ограничения:</b>
                <ul class="tariff-info__list tariff-info__list--4 tariff-info__limits-list list">
                  <li>Обязательно предварительное оформление посылки, до прихода на склад</li>
                  <li>Без объединения: не&nbsp;более одной входящей в каждой исходящей посылке</li>
                  <li>Без переупаковки или&nbsp;переупаковка по нашему усмотрению</li>
                  <li>Доставка возможна до&nbsp;ПВЗ&nbsp;(пункта выдачи заказа) и&nbsp;в&nbsp;постаматы</li>
                </ul>
              </div>
            </li>

            <li class="tariff-info__tariff" id="tariff-info-2">
                            <div class="tariff-info__wrapper">
                <b class="tariff-info__title heading-tertiary">Включает в себя:</b>
                <ul class="tariff-info__list tariff-info__list--5 list">
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Участие&nbsp;Почты России</b>
                    <span class="tariff-info__value blue">нет</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Отслеживание посылки</b>
                    <span class="tariff-info__value blue">на нашем сайте</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Частота отправления</b>
                    <span class="tariff-info__value blue">2 раза в неделю каждый понедельник и&nbsp;четверг<br> в 12:00 по времени в&nbsp;штате Делавэр</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Страховка</b>
                    <span class="tariff-info__value blue">$3 на посылки до&nbsp;$100 и $5 на&nbsp;посылки&nbsp;до&nbsp;$500</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Таможенный лимит</b>
                    <span class="tariff-info__value blue">до 200&nbsp;евро и&nbsp;31&nbsp;кг на&nbsp;одну посылку пошлиной не&nbsp;облагаются</span>
                  </li>
                </ul>

                <ul class="tariff-info__list tariff-info__list--bg tariff-info__list--4 list">
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный вес для ПВЗ</b>
                    <span class="tariff-info__value blue">31 кг</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный вес для постамата</b>
                    <span class="tariff-info__value blue">15 кг</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный размер для ПВЗ</b>
                    <span class="tariff-info__value blue">сумма трех сторон 230&nbsp;см, длина меньше 180&nbsp;см</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__term">Максимальный размер для постамата</b>
                    <span class="tariff-info__value blue">62,5×56,5×40 см</span>
                  </li>
                </ul>

                <ul class="tariff-info__list tariff-info__list--2 list">
                  <li class="tariff-info__item">
                    <b class="tariff-info__heading blue">Доставка с предварительным оформлением.</b>
                    <span>Необходимо заполнить декларацию,адрес и&nbsp;данные получателя до&nbsp;прихода посылки на&nbsp;склад.</span>
                  </li>
                  <li class="tariff-info__item">
                    <b class="tariff-info__heading">Обязательная полная страховка от&nbsp;утери и&nbsp;кражи вложений.</b>
                  </li>
                </ul>
              </div>

              <div class="tariff-info__limits">
                <b class="tariff-info__limits-title heading-tertiary">Ограничения:</b>
                <ul class="tariff-info__list tariff-info__list--4 tariff-info__limits-list list">
                  <li>Обязательно предварительное оформление посылки, до прихода на склад</li>
                  <li>Без объединения: не&nbsp;более одной входящей в каждой исходящей посылке</li>
                  <li>Без переупаковки или&nbsp;переупаковка по нашему усмотрению</li>
                  <li>Доставка возможна до&nbsp;ПВЗ&nbsp;(пункта выдачи заказа) и&nbsp;в&nbsp;постаматы</li>
                </ul>
              </div>
            </li>
            <li class="tariff-info__tariff" id="tariff-info-3"></li>
            <li class="tariff-info__tariff" id="tariff-info-4"></li>
            <li class="tariff-info__tariff" id="tariff-info-5"></li>

          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
