{% extends "layout.html" %}

{% set siteName = "Prostobox.com - Черный список" %}

{% block main %}

<main class="main">
  <section class="banner-inner banner-inner--blacklist section mb-4 mb-lg-5">
    <div class="section-xxl">
      <div class="banner-inner__wrapper">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--active">Черный список магазинов</li>
          </ul>
          <div class="banner-inner__container">
            <div class="banner-inner__text-wrapper content">
              <h1 class="banner-inner__heading heading-primary">Черный список магазинов</h1>
              <p class="fw-medium">Список магазинов, в которых мы не совершаем покупки по услуге «Полное&nbsp;сопровождение».</p>
              <ul>
                <li>Причины попадания магазинов в этот список самые разные: какие-то магазины&nbsp;не&nbsp;отправляют заказы на адреса mail forwarding компаний, другие&nbsp;же&nbsp;имеют проблемы с самой системой заказов или являются откровенно&nbsp;мошенническими.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--pb section--pb-m mb-4 mb-lg-2 blacklist">
    <div class="container">
      <div class="blacklist__wrapper">
        <ul class="blacklist__list">
          <li>123mountain.com</li>
          <li>15dollarstore.com</li>
          <li>1sale.com</li>
          <li>acadianwear.com</li>
          <li>acurite.com</li>
          <li>advancedideals.org</li>
          <li>adventuretech.biz</li>
          <li>ae.comcivilsocietyclothi</li>
          <li>ng.com</li>
          <li>airliners.co.in</li>
          <li>akurtz.com</li>
          <li>americanequipage.com</li>
          <li>amlap.com</li>
          <li>annaslinens.com</li>
          <li>apple.com</li>
          <li>arcteryx.com</li>
          <li>ateliermaquillage.com</li>
          <li>autonomous.ai</li>
          <li>awsin.com</li>
          <li>babybrezza.com</li>
          <li>ng.com</li>
          <li>airliners.co.in</li>
          <li>akurtz.com</li>
          <li>americanequipage.com</li>
          <li>123mountain.com</li>
          <li>15dollarstore.com</li>
          <li>1sale.com</li>
          <li>acadianwear.com</li>
          <li>acurite.com</li>
          <li>advancedideals.org</li>
          <li>adventuretech.biz</li>
          <li>ae.comcivilsocietyclothi</li>
          <li>ng.com</li>
          <li>airliners.co.in</li>
          <li>akurtz.com</li>
          <li>americanequipage.com</li>
          <li>123mountain.com</li>
          <li>15dollarstore.com</li>
          <li>1sale.com</li>
          <li>acadianwear.com</li>
          <li>acurite.com</li>
          <li>advancedideals.org</li>
          <li>adventuretech.biz</li>
          <li>ae.comcivilsocietyclothi</li>
          <li>ng.com</li>
          <li>airliners.co.in</li>
          <li>akurtz.com</li>
          <li>americanequipage.com</li>
          <li>123mountain.com</li>
          <li>15dollarstore.com</li>
          <li>1sale.com</li>
          <li>acadianwear.com</li>
          <li>acurite.com</li>
          <li>advancedideals.org</li>
          <li>adventuretech.biz</li>
          <li>ae.comcivilsocietyclothi</li>
          <li>ng.com</li>
          <li>airliners.co.in</li>
          <li>akurtz.com</li>
          <li>americanequipage.com</li>
        </ul>
        <div class="blacklist__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__nav-btn pagination__nav-btn--prev pagination__nav-btn--disabled"></a>
            </li>
            <li class="pagination__item">
              <a href="#" class="pagination__btn pagination__btn--current">1</a>
            </li>
            <li class="pagination__item">
              <a href="#" class="pagination__btn">2</a>
            </li>
            <li class="pagination__item">
              <a href="#" class="pagination__btn">...</a>
            </li>
            <li class="pagination__item">
              <a href="#" class="pagination__btn">30</a>
            </li>
            <li class="pagination__item">
              <a href="#" class="pagination__nav-btn pagination__nav-btn--next"></a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </section>

</main>

{% endblock %}
