{% extends "layout.html" %}

{% set siteName = "Prostobox.com" %}
{% set isAuthenticated = false %}
{% set isIndex = true %}

{% block main %}

  <main>
    <!--<section class="product-order section">
      <div class="section-xxl">
        <div class="product-order__wrapper">
          <div class="container">
            <div class="product-order__content-wrapper">
              <ul class="breadcrumbs product-order__breadcrumbs">
                <li class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </li>
                <li class="breadcrumbs__item breadcrumbs__item--active">
                  Профессиональные БАЙЕРЫ от Простобокса
                </li>
              </ul>
              <h2 class="heading-primary product-order__heading">
                Профессиональные <span class="blue">байеры</span> от Простобокса
              </h2>
              <p class="product-order__text">
                Просто отправьте ссылку на интересующий товар, наши штатные байеры&nbsp;все купят и отправят на наш склад в Делавэре.
              </p>
            </div>
          </div>
        </div>
      </div>-->

    <section class="banner-inner banner-inner--buyer section mb-4 mb-lg-5">
      <div class="section-xxl">
        <div class="banner-inner__wrapper">
          <div class="container">
            <ul class="breadcrumbs">
              <li class="breadcrumbs__item"><a href="#">Главная</a></li>
              <li class="breadcrumbs__item breadcrumbs__item--active">Профессиональные байеры от Простобокса</li>
            </ul>
            <div class="banner-inner__container">
              <div class="banner-inner__text-wrapper content">
                <h1 class="banner-inner__heading heading-primary">Профессиональные <span class="blue">БАЙЕРЫ</span> от Простобокса</h1>
                <p class="banner-inner__text--buyer">Просто отправьте ссылку на интересующий товар, наши штатные байеры все купят и отправят на наш склад в Делавэре.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="sending-link banner-inner__sending">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

    <section class="help-buyer">
      <div class="container">
        <h1 class="heading-primary help-buyer__heading">Когда может понадобиться помощь штатного <span class="blue">байера</span>:</h1>
        <ul class="help-buyer__list">
          <li class="help-buyer__item help-buyer__item--by-yourself">
            <p class="help-buyer__text">
              Если вы
            </p>
            <p class="help-buyer__text-bold">
              не хотите самостоятельно покупать
            </p>
            <p class="help-buyer__text">
              в американских магазинах
            </p>
          </li>
          <li class="help-buyer__item help-buyer__item--impossible">
            <p class="help-buyer__text">
              Если вы хотите заказать товар из&nbsp;магазина, где
            </p>
            <p class="help-buyer__text-bold">
              невозможно купить не имея американской кредитки
            </p>
          </li>
          <li class="help-buyer__item help-buyer__item--delivery">
            <p class="help-buyer__text">
              Если американский магазин
            </p>
            <p class="help-buyer__text-bold">
              не доставляет товары на адреса посредников
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="purchase-help section">

      <div class="section-xxl purchase-help__section">
        <div class="purchase-help__wrapper">
          <div class="container">
            <div class="purchase-help__content-wrapper">
              <div class="purchase-help__content">
                <h1 class="heading-secondary purchase-help__heading">
                  Наши байеры <span class="blue">помогут</span> вам с&nbsp;<span class="blue">покупками в США</span>.
                </h1>
                <p class="purchase-help__text">
                  У них есть и карты, и специальные дополнительные адреса, для того, чтобы покупать товары даже в тех магазинах, которые не доставляют на адреса посредников, например Ralph Lauren, Levi's, Coach.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="sending-link purchase-help__sending">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

    <section class="how-issue section">
      <div class="container how-issue__container">
        <h1 class="heading-primary how-issue__heading">Как оформить заказ через <span class="blue">байера</span>&nbsp;Простобокса?</h1>
        <ul>
          <li class="how-issue__item how-issue__item--choice">
            <div class="how-issue__item-wrapper--choice">
              <p class="heading-tertiary how-issue__tertiary">Выбираете товар</p>
              <p class="how-issue__text">в американском магазине и присылаете ссылку&nbsp;на него байерам Простобокса.</p>
              <p class="how-issue__text">Кроме ссылки важно указать название товара, размер и другую информацию, чтобы у байера не было вопросов во время оформления заказа в магазине.</p>
            </div>
          </li>
          <li class="how-issue__item how-issue__item--redemption">
            <div class="how-issue__item-wrapper--redemption">
              <p class="heading-tertiary how-issue__tertiary">Байер принимает заказ и&nbsp;выкупает товары</p>
              <p class="how-issue__text">Пользуясь американской кредиткой и при необходимости дополнительными американскими адресами, если магазин не доставляет на адреса посредников.</p>
            </div>
          </li>
          <li class="how-issue__item how-issue__item--shipment">
            <div class="how-issue__item-wrapper--shipment">
              <p class="heading-tertiary how-issue__tertiary">Отправляют заказ</p>
              <p class="how-issue__text">Через несколько дней после оформления и он поступает на склад Простобокса</p>
            </div>
          </li>
          <li class="how-issue__item how-issue__item--pay">
            <div class="how-issue__item-wrapper--pay">
              <p class="heading-tertiary how-issue__tertiary">Вы оплачиваете доставку и&nbsp;посылка летит к вам</p>
              <p class="how-issue__text">Байер может заполнить за вас декларацию, а если посылка превышает порог таможенной пошлины – оплатить пошлину можно вместе с оплатой доставки Простобоксом.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="sending-link">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

    <section class="advantage-bayres section">
      <div class="section-xxl">
        <div class="advantage-bayres__wrapper">
          <div class="container">
            <h1 class="heading-primary advantage-bayres__heading">Почему мы <span class="blue">рекомендуем</span> покупать через <span class="blue">байеров</span> Простобокса?</h1>
            <ul class="advantage-bayres__list">
              <li class="advantage-bayres__item advantage-bayres__item--course">
                <p class="advantage-bayres__text">Байеры Простобокса прошли специальный курс обучения и разбираются
                  в&nbsp;американском шопинге лучше любого стороннего байера.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--quality">
                <p class="advantage-bayres__text">Простобокс отвечает за качество работы байера и&nbsp;берем возможные его ошибки на себя.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--account">
                <p class="advantage-bayres__text">Во избежании ошибок и&nbsp;накладок работа с&nbsp;байером ведется только через личный кабинет Простобокса.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--watch">
                <p class="advantage-bayres__text">Байеров несколько и они выкупают заказы 24/7, это важно на распродажах.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--language">
                <p class="advantage-bayres__text">Байеры владеют английским языком и могут переписываться и&nbsp;созваниваться с&nbsp;магазинами.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--terminal">
                <p class="advantage-bayres__text">Байеры выкупают товары, используя американские кредитные карты.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--compass">
                <p class="advantage-bayres__text">В распоряжении байеров несколько дополнительных американских адресов для заказа из капризных магазинов.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--percent">
                <p class="advantage-bayres__text">Байеры знают о скидках в&nbsp;магазинах и применяют их&nbsp;к заказам.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--ebay">
                <p class="advantage-bayres__text">Байеры умеют покупать на&nbsp;аукционах eBay.</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--box">
                <p class="advantage-bayres__text">Байеры проверяют ваши товары, когда они уже на&nbsp;складе. Чтобы вы получили то, что хотели!</p>
              </li>
              <li class="advantage-bayres__item advantage-bayres__item--sheet">
                <p class="advantage-bayres__text">Байеры могут заполнить за&nbsp;вас декларацию. Услуга&nbsp;платная и стоит $5.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="sending-link advantage-bayres__sending">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

    <section class="cost-bayres section">
      <div class="container cost-bayres__container">
        <h1 class="heading-primary cost-bayres__heading">Сколько стоят услуги <span class="blue">байеров</span> Простобокса?</h1>
        <ul>
          <li class="cost-bayres__item cost-bayres__item--firecracker">
            <p class="heading-tertiary cost-bayres__tertiary">Бесплатно с&nbsp;промокодом</p>
            <p class="blue cost-bayres__text-percent">$0</p>
            <p class="cost-bayres__text">Ищите промокод на бесплатный выкуп&nbsp;в&nbsp;наших&nbsp;соцсетях. Новые магазины&nbsp;появляются постоянно!</p>
          </li>
          <li class="cost-bayres__item cost-bayres__item--rocket">
            <p class="heading-tertiary cost-bayres__tertiary">Тариф стандарт</p>
            <p class="blue cost-bayres__text-percent">10% от стоимости заказа но&nbsp;не&nbsp;менее $10</p>
            <p class="cost-bayres__text">Для большинства магазинов, исключая магазины&nbsp;из&nbsp;черного списка, если у вас нет актуального промо-кода</p>
          </li>
          <li class="cost-bayres__item cost-bayres__item--crown">
            <p class="heading-tertiary cost-bayres__tertiary cost-bayres__tertiary--vip">Тариф VIP</p>
            <p class="blue cost-bayres__text-percent">15% от стоимости заказа но&nbsp;не&nbsp;менее $15</p>
            <p class="cost-bayres__text">Для магазинов со сложной системой выкупа, которые обычно не доставляют на адреса посредников. Промокоды не действуют.</p>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="sending-link">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section list-stores">
      <div class="section-xxl">
        <div class="list-stores__wrapper">
          <div class="container">
            <div class="list-stores__content">
              <h1 class="heading-primary list-stores__heading">Список магазинов, в&nbsp;которых доступна покупка <span class="blue">только по тарифу VIP</span></h1>
              <p class="list-stores__text main-text">Чтобы покупать в этих магазинах байеры вынуждены прибегать к разным хитростям,&nbsp;из-за которых Простобокс несет дополнительные расходы. Поэтому бесплатного выкупа с промокодом из таких магазинов быть не может.</p>
              <ul class="list-stores__list">
                <li class="list-stores__item">New Balance</li>
                <li class="list-stores__item">New Balance Outlet</li>
                <li class="list-stores__item">Adidas</li>
                <li class="list-stores__item">Levi's</li>
                <li class="list-stores__item">Ralph Lauren</li>
                <li class="list-stores__item">Coach</li>
                <li class="list-stores__item">Bestbuy</li>
                <li class="list-stores__item">Tiffany</li>
                <li class="list-stores__item">Coach outlete</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="container">
        <div class="sending-link list-stores__sending">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}
