{% extends "layout.html" %}

{% set siteName = "Prostobox.com" %}
{% set isAuthenticated = false %}
{% set isIndex = true %}

{% block main %}

  <main>
    <section class="product-order section">
      <div class="section-xxl">
        <div class="product-order__wrapper">
          <div class="container">
            <div class="product-order__content-wrapper">
              <ul class="breadcrumbs product-order__breadcrumbs">
                <li class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </li>
                <li class="breadcrumbs__item breadcrumbs__item--active">
                  Профессиональные БАЙЕРЫ от Простобокса
                </li>
              </ul>
              <h2 class="heading-primary product-order__heading">
                Профессиональные <span class="blue">байеры</span> от Простобокса
              </h2>
              <p class="product-order__text">
                Просто отправьте ссылку на интересующий товар, наши штатные байеры&nbsp;все купят и отправят на наш склад в Делавэре.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="sending-link product-order__sending">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

    <section class="help-buyer">
      <div class="container">
        <h2 class="heading-primary help-buyer__heading">Когда может понадобиться помощь штатного <span class="blue">байера</span>:</h2>
        <ul class="help-buyer__list">
          <li class="help-buyer__item help-buyer__item--by-yourself">
            <p class="help-buyer__text">
              Если вы
            </p>
            <p class="help-buyer__text-bold">
              не хотите самостоятельно покупать
            </p>
            <p class="help-buyer__text">
              в американских магазинах
            </p>
          </li>
          <li class="help-buyer__item help-buyer__item--impossible">
            <p class="help-buyer__text">
              Если вы хотите заказать товар из&nbsp;магазина, где
            </p>
            <p class="help-buyer__text-bold">
              невозможно купить не имея американской кредитки
            </p>
          </li>
          <li class="help-buyer__item help-buyer__item--delivery">
            <p class="help-buyer__text">
              Если американский магазин
            </p>
            <p class="help-buyer__text-bold">
              не доставляет товары на адреса посредников
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="purchase-help section">

      <div class="section-xxl purchase-help__section">
        <div class="purchase-help__wrapper">
          <div class="container">
            <div class="purchase-help__content-wrapper">
              <div class="purchase-help__content">
                <h2 class="heading-secondary purchase-help__heading">
                  Наши байеры <span class="blue">помогут</span> вам с&nbsp;<span class="blue">покупками в США</span>.
                </h2>
                <p class="purchase-help__text">
                  У них есть и карты, и специальные дополнительные адреса, для того, чтобы покупать товары даже в тех магазинах, которые не доставляют на адреса посредников, например Ralph Lauren, Levi's, Coach.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="sending-link purchase-help__sending">
          <p class="sending-link__heading heading-secondary">
            Отправить ссылку на товар байерам Простобокса:
          </p>
          <div class="sending-link__from-wrapper">
            <form class="sending-link__form" action="">
              <input class="sending-link__input" type="text" placeholder="Ссылка на товар">
              <button class="sending-link__button" type="submit"></button>
            </form>
            <p class="sending-link__text">Нажимая на кнопку вы подтверждаете согласие с правилами предоставления услуги и политикой конфиденциальности</p>
          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}
