{% extends "layout.html" %}

{% set siteName = "Prostobox.com - Услуги" %}
{% set calcWithDescription = true %}

{% block main %}

<!-- <style>
  html {
    background-image: url("img/how-to-s.png");
    background-position: center top 0;
    background-repeat: no-repeat;
  }

  body {
    opacity: 0.5;
  }

</style> -->

<main>
  <section class="how-to-buy section section--pb-m">
    <div class="section-xxl">
      <div class="how-to-buy__wrapper">
        <div class=" container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--active">Как покупать в США</li>
          </ul>
          <h1 class="how-to-buy__heading heading-primary">Как покупать в&nbsp;США?</h1>
          <p class="how-to-buy__desc">
            Магазины США часто не&nbsp;доставляют товары в&nbsp;Россию, но это не проблема.
            Мы&nbsp;поможем покупать по лучшим ценам и&nbsp;экономить на доставке.
            Наш новый современный склад в&nbsp;Делавере подойдет для&nbsp;покупок
            в&nbsp;магазинах Америки. Мы получим ваши посылки и отправим их
            к&nbsp;вам домой. Быстро и дёшево.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section how-details">
    <div class="container">
      <div class="how-details__wrapper">
        <p class="how-details__brief">
          Получаете <span class="blue">бесплатный адрес</span> в Америке, чтобы магазины приняли вас
          за Американца.
        </p>
        <p class="how-details__desc">
          После регистрации на нашем сайте у вас будет виртуальный адрес в США,
          который вы сможете указывать при оформлении заказов
          в&nbsp;Американских интернет&#8209;магазинах.
        </p>

      </div>
      <div class="how-details__button-wrapper">
        <a class="button button--medium" href="#">Зарегистрироваться</a>
      </div>
      <div class="how-details__wrapper">
        <div class="how-details__container">
          <p class="how-details__brief">
            <span class="blue">Покупаете</span> в&nbsp;Американском магазине
            <span class="blue">по ценам для Американцев</span>
          </p>
          <p class="how-details__desc">
            Выбираете нужные товары в&nbsp;магазинах Америки. Расплачиваетесь
            своей картой и в качестве адреса доставки указываете адрес
            и телефон нашего склада.
          </p>
        </div>

      </div>
      <div class="how-details__button-wrapper">
        <a class="button button--medium" href="#">Что можно покупать?</a>
      </div>
      <div class="how-details__wrapper how-details__wrapper--shipment">
        <p class="how-details__brief">Хотите получить самую <span class="blue">выгодную цену</span> на доставку?</p>
      </div>
      <div class="how-details__buttons-wrapper pricing-options">
        <a class="button button--small pricing-options__item" href="#">Да</a>
        <a class="button button--small button--white pricing-options__item" href="#">Нет</a>
      </div>
    </div>
  </section>

</main>

{% endblock %}
