{% extends "layout.html" %}

{% set siteName = "Prostobox.com - Услуги" %}
{% set calcWithDescription = true %}

{% block main %}

<style>
  /* html {
    background-image: url("img/how-to-s-mobile.png");
    background-position: center top 0;
    background-repeat: no-repeat;
  }

  body {
    opacity: 0.5;
  } */

</style>

<main class="main main__how-to-buy">
  <section class="how-to-buy section section--pb-m mb-lg-6">
    <div class="section-xxl">
      <div class="how-to-buy__wrapper">
        <div class=" container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--active">Как покупать в США</li>
          </ul>
          <div class="how-to-buy__text-wrapper">
            <h1 class="how-to-buy__heading heading-primary">Как покупать в&nbsp;США?</h1>
            <p class="how-to-buy__desc">
              Магазины США часто не&nbsp;доставляют товары в&nbsp;Россию, но это не проблема.
              Мы&nbsp;поможем покупать по лучшим ценам и&nbsp;экономить на доставке.
              Наш новый современный склад в&nbsp;Делавере подойдет для&nbsp;покупок
              в&nbsp;магазинах Америки. Мы получим ваши посылки и отправим их
              к&nbsp;вам домой. Быстро и дёшево.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section how-details">
    <div class="container how-details__lines">
      <div class="row justify-content-end how-details__block-wrapper how-details__block-wrapper--free-address">
        <div class="col-lg-6 how-details__block-container">
          <div class="how-details__wrapper">
            <p class="how-details__brief">
              Получаете <span class="blue">бесплатный адрес</span> в&nbsp;Америке, чтобы магазины приняли вас
              за Американца.
            </p>
            <p class="how-details__desc">
              После регистрации на нашем сайте у вас будет виртуальный адрес в США,
              который вы сможете&nbsp;указывать при оформлении заказов
              в&nbsp;Американских интернет&#8209;магазинах.
            </p>

          </div>
          <div class="how-details__button-wrapper">
            <a class="button button--medium" href="#">Зарегистрироваться</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-start how-details__block-wrapper how-details__block-wrapper--us-prices">
        <div class="col-lg-6 how-details__block-container">
          <div class="how-details__wrapper how-details__wrapper--us-prices">
            <div class="how-details__container how-details__container--us-prices">
              <p class="how-details__brief">
                <span class="blue">Покупаете</span> в&nbsp;Американском магазине
                <span class="blue">по ценам для Американцев</span>
              </p>
              <p class="how-details__desc">
                Выбираете нужные товары в&nbsp;магазинах Америки. Расплачиваетесь
                своей картой и в качестве адреса доставки указываете адрес
                и телефон нашего склада.
              </p>
            </div>
          </div>
          <div class="how-details__button-wrapper how-details__button-wrapper--us-prices">
            <a class="button button--medium" href="#">Что можно покупать?</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-6 how-details__block-container how-details__block-container--shipment">
          <div class="how-details__wrapper how-details__wrapper--shipment">
            <p class="how-details__brief">Хотите получить самую <span class="blue">выгодную цену</span> на доставку?</p>
          </div>
          <div class="how-details__buttons-wrapper pricing-options">
            <a class="button button--small pricing-options__item" href="#">Да</a>
            <a class="button button--small button--white pricing-options__item" href="#">Нет</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section delivery-options">
    <div class="section-xxl">
      <div class="delivery-options__wrapper">
        <div class="container">
          <ul class="delivery-options__list">
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  <span class="blue">Регистрируете посылку</span> как только магазин выдал вам трекинг номер (номер
                  отслеживания)
                </p>
                <p class="delivery-options__item-desc">
                  Как только магазин прислал вам трекинг номер – внесите посылку
                  в&nbsp;личный кабинет, заполняете декларацию и адрес доставки (пункт выдачи или постамат)
                  на&nbsp;сайте Простобокс и вам будет доступна самая выгодная цена
                  на&nbsp;доставку.
                </p>
                <p class="delivery-options__item-desc">
                  На этом этапе вы можете положить
                  в вашу посылку сладости, напитки или заказать дополнительную упаковку. Но будьте внимательны, конфеты и
                  напитки пропорционально увеличивают вес вашей посылки. Коме того, можно сразу пополнить счет на
                  примерную
                  сумму доставки и средства
                  за&nbsp;доставку спишутся автоматически после прихода посылки на склад.
                </p>
              </div>
            </li>
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  Посылка прилетает на склад
                </p>
                <p class="delivery-options__item-desc">
                  Вам осталось оплатить доставку, если вы не сделали этого заранее. После оплаты посылка улетит ближайшим
                  рейсом к вам домой.
                </p>
              </div>
            </li>
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  <span class="blue">Получаете посылку</span> через 5-10 дней после отправки из США
                </p>
                <a class="button delivery-options__button-wrapper" href="">Получить адрес в США</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </section>
  <section class="section delivery-options delivery-options--black">
    <div class="section-xxl">
      <div class="delivery-options__wrapper">
        <div class="container">
          <ul class="delivery-options__list">
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  Следите, когда посылка придет на склад
                </p>
                <p class="delivery-options__item-desc">
                  Обязательно внесите трекер, который вам пришлёт интернет-магазин в «Ожидаемые посылки» в личном кабинете на нашем сайте. Когда посылка окажется на складе она автоматически попадет к вам в аккаунт.
                </p>
              </div>
            </li>
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  Выбираете способ доставки
                </p>
                <p class="delivery-options__item-desc">
                  Сейчас мы предлагаем несколько способов доставки. Если вам нужна быстрая курьерская доставка – придется заполнить подробную декларацию, паспортные данные и ИНН получателя.
                </p>
                <p class="delivery-options__item-desc">
                  Если вы не хотите заморачиваться с декларацией и вам не важны сроки – воспользуйтесь нашей доставкой через Почту России.
                </p>
                <a class="button" href="">Быстрая доставка</a>
                <a class="button" href="">Простая декларация</a>
              </div>
            </li>
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  Оформляете доставку
                </p>
                <p class="delivery-options__item-desc">
                  Итак, посылка на складе. Теперь вам надо немного постараться. Заполняете декларацию на каждый товар в посылке. Вносите все необходимые данные получателя, паспортные данные, ИНН и выбираете удобный пункт самовывоза или постамат.
                </p>
                <p class="delivery-options__item-desc">
                  На этом этапе вы можете положить в вашу посылку сладости, напитки или заказать дополнительную упаковку. Но будьте внимательны, конфеты и напитки пропорционально увеличивают вес вашей посылки. Можно сразу пополнить счет на примерную сумму доставки и средства за доставку спишутся автоматически после взвешивания.
                </p>
              </div>
            </li>
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  Оплачиваете доставку и посылка улетает к вам
                </p>
                <p class="delivery-options__item-desc">
                  После того как мы примем и взвесим вашу посылку, вам останется пополнить баланс и оплатить доставку, если вы не сделали этого заранее. После оплаты посылка улетит ближайшим рейсом к вам домой.
                </p>
              </div>
            </li>
            <li class="delivery-options__item">
              <div class="delivery-options__item-text-wrapper">
                <p class="delivery-options__item-title">
                  Step-last
                </p>
                <p class="delivery-options__item-desc">
                  Получаете посылку через 7-15 дней после отправки из США.
                </p>
                <a class="button delivery-options__button-wrapper" href="">Получить адрес в США</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </section>
  <section class="section section-banner section-banner--get-address">
    <div class="container">
      <div class="section-banner__wrapper">
        <div class="section-banner__block-wrapper">
          <div class="section-banner__text-wrapper">
            <p class="section-banner__heading heading-secondary">
              Получите <span class="blue">бесплатный адрес</span> для покупок в&nbsp;США
            </p>
          </div>
          <div class="section-banner__button-wrapper">
            <a class="button button--medium button--medium-2" href="#">Зарегистрироватьcя</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}
