{% extends "layout.html" %}

{% set siteName = "Prostobox.com - Услуги" %}
{% set calcWithDescription = true %}

{% block main %}

<!-- <style>
  html {
    background-image: url("img/how-to-s.png");
    background-position: center top 0;
    background-repeat: no-repeat;
  }

  body {
    opacity: 0.5;
  }

</style> -->

<main>
  <section class="how-to-buy section section--pb-m">
    <div class="section-xxl">
      <div class="how-to-buy__wrapper">
        <div class=" container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--active">Как покупать в США</li>
          </ul>
          <h1 class="how-to-buy__heading heading-primary">Как покупать в&nbsp;США?</h1>
          <p class="how-to-buy__desc">
            Магазины США часто не&nbsp;доставляют товары в&nbsp;Россию, но это не проблема.
            Мы&nbsp;поможем покупать по лучшим ценам и&nbsp;экономить на доставке.
            Наш новый современный склад в&nbsp;Делавере подойдет для&nbsp;покупок
            в&nbsp;магазинах Америки. Мы получим ваши посылки и отправим их
            к&nbsp;вам домой. Быстро и дёшево.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section free-address">
    <div class="container">
      <div class="free-address__wrapper">
        <h2 class="visually-hidden">Бесплатный адрес</h2>
        <p class="free-address__brief">
          Получаете <span class="blue">бесплатный адрес</span> в Америке, чтобы магазины приняли вас
          за Американца.
        </p>
        <p class="free-address__desc">
          После регистрации на нашем сайте у вас будет виртуальный адрес в США,
          который вы сможете указывать при оформлении заказов
          в Американских интернет-магазинах.
        </p>
        <a class="button" href="#">Зарегистрироваться</a>
      </div>
      <!-- </div> -->
      <!-- </section> -->

      <!-- <sectio class="what-to-buy"> -->
      <!-- <div class="container"> -->
      <div class="what-to-buy__wrapper">
        <h2 class="visually-hidden">Что можно покупать?</h2>
        <p class="what-to-buy__brief">
          <span class="blue">Покупаете</span> в Американском магазине
          <span class="blue">по ценам для Американцев</span>
        </p>
        <p class="what-to-buy__desc">
          Выбираете нужные товары в магазинах Америки. Расплачиваетесь
          своей картой и в, качестве адреса доставки указываете адрес
          и телефон нашего склада.
        </p>
        <a class="button" href="#">Что можно покупать?</a>
      </div>

      <div>
        <p>Хотите получить самую <span class="blue">выгодную цену</span> на доставку?</p>
        <a href="#">Да</a>
        <a href="#">Нет</a>
      </div>

    </div>
  </section>

</main>

{% endblock %}
