{% extends "layout.html" %}

{% set siteName = "Prostobox.com - Услуги" %}

{% block main %}

<style>
  /* html {
    background-image: url("img/services.png");
    background-position: center top;
    background-repeat: no-repeat;
  }
  body {
    opacity: 0.5;
  } */

</style>

<main>

  <section class="services section">
    <div class="section-xxl">
      <div class="services__wrapper">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">Главная</li>
            <li class="breadcrumbs__item breadcrumbs__item--active">Услуги</li>
          </ul>
          <h1 class="services__heading heading-primary">Услуги Простобокса</h1>
          <div class="services__list-wrapper">
            <ul class="services__list row">
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Персональная <br> ячейка</h3>
                  <p class="services__text">на складе в 100% безналоговом штате Делавэр для хранения ваших американких
                    покупок
                  </p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Приёмка</h3>
                  <p class="services__text">с помощью современного конвейера всех посылок на&nbsp;складе&nbsp;по
                    будням<br> с 8 до 17
                  </p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Объединение</h3>
                  <p class="services__text">нескольких входящих посылок в&nbsp;одну, чтобы сэкономить на&nbsp;доставке
                  </p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Удаление<br class="d-none d-lg-inline"> обувных коробок
                  </h3>
                  <p class="services__text">чтобы посылка весила меньше и&nbsp;стоила дешевле</p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Стандартная<br> упаковка</h3>
                  <p class="services__text">в стандартные коробки, переупаковка, добавление товаров из нашего магазина
                  </p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Хранение входящих посылок 45 дней</h3>
                  <p class="services__text">чтобы вы могли<br> не беспокоиться<br> и отправлять товары в&nbsp;комфортное
                    для вас время
                  </p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Пополнение баланса от $10</h3>
                  <p class="services__text">мы возьмем на себя комиссии эквайринга, а вы сэкономите до&nbsp;4 процентов
                  </p>
                  <p class="services__price">Без комиссии</p>
                </div>
              </li>
              <li class="services__item col-lg-3 col-md-6">
                <div class="services__item-wrapper">
                  <h3 class="services__title heading-tertiary">Поддержка 24/7</h3>
                  <p class="services__text">через тикеты, чат и соцсети, чтобы помочь вам в любую минуту</p>
                  <p class="services__price">Бесплатно</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="paid-services">
    <div class="section-xxl">
      <div class="paid-services__wrapper">
        <div class="container">
          <h2 class="paid-services__heading heading-primary">Платные услуги склада</h2>
          <ul class="paid-services__list">
            <li class="paid-services__item">
              <p class="paid-services__desc">Хранение входящих посылок свыше 45 дней</p>
              <p class="paid-services__cost">$1 в день</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Хранение входящих посылок свыше 7 дней</p>
              <p class="paid-services__cost">$1 в день</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Экспресс-сборка исходящей посылки</p>
              <p class="paid-services__cost">$5</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Экспресс-обращение в&nbsp;поддержку</p>
              <p class="paid-services__cost">$3.99</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Сделать фотографию этикетки с адресом</p>
              <p class="paid-services__cost">$1</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Сделать фотографию промокода</p>
              <p class="paid-services__cost">$2</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Сделать фотографию посылки на весах</p>
              <p class="paid-services__cost">$2</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">3 фото содержимого посылки</p>
              <p class="paid-services__cost">$5</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Сделать 10 фотографий содержимого</p>
              <p class="paid-services__cost">$6</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">HD видео (1 минута)</p>
              <p class="paid-services__cost">$7</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Проверка техники на&nbsp;работоспособность</p>
              <p class="paid-services__cost">$10/шт.</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Дополнительное пожелание сборщикам на складе</p>
              <p class="paid-services__cost">$2</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Деление входящей посылки на несколько</p>
              <p class="paid-services__cost">от $5</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Перенос входящей посылки между аккаунтами клиентов</p>
              <p class="paid-services__cost">$1</p>
            </li>
            <li class="paid-services__item">
              <p class="paid-services__desc">Возврат товара в&nbsp;магазин</p>
              <p class="paid-services__cost">$10</p>
              <p class="paid-services__cost-note">+ стоимость <br> пересылки</p>
            </li>
          </ul>
          <h3 class="packaging__heading heading-primary">Дополнительная упаковка</h3>
          <ul class="packaging__list">
            <li class="packaging__item">
              <div class="packaging__item-wrapper">
                <p class="packaging__desc">Многослойная <br> защитная плёнка</p>
                <p class="packaging__cost">$4</p>
              </div>
            </li>
            <li class="packaging__item">
              <div class="packaging__item-wrapper">
                <p class="packaging__desc">Упаковка в пакет</p>
                <p class="packaging__cost">$3</p>
              </div>
            </li>
            <li class="packaging__item">
              <div class="packaging__item-wrapper">
                <p class="packaging__desc">Упаковка в коробку с&nbsp;двойными стенками</p>
                <p class="packaging__cost">$5</p>
              </div>
            </li>
            <li class="packaging__item">
              <div class="packaging__item-wrapper">
                <p class="packaging__desc">Наклейки “Обращаться осторожно” и “Хрупкий груз”</p>
                <p class="packaging__cost">$0.35</p>
                <p class="packaging__cost-note">за одну наклейку</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="customs">
    <div class="container">
      <div class="customs__wrapper row">
        <h2 class="customs__title heading-primary col-lg-6">Прием оплаты таможенного сбора</h2>
        <div class="customs__desc-wrapper col-lg-6">
          <p class="customs__desc">
            Чтобы избежать общения с брокером и оплаты пошлины через интернет, когда посылка уже стоит на таможне – мы
            предлагаем вам оплатить таможенный сбор прямо во время оплаты доставки. Это упростит вам жизнь и максимально
            ускорит прохождение посылкой таможни.
          </p>
          <p class="customs__cost">
            Стоимость услуги – <span class="blue">4% от&nbsp;суммы таможенного сбора.</span>
            <button class="question-mark" data-tippy-content="Например, если ваш товар стоит 300 долларов, пошлина будет составлять примерно $8.33 + фиксированный сбор таможни $6.80, то наша комиссия будет составлять примерно $0,6">
              <svg width="20" height="20" viewBox="0 0 20 20">
                <use xlink:href="img/sprite.svg#question-mark"></use>
              </svg>
            </button>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="insurance section">
    <div class="container">
      <div class="insurance__wrapper row">
        <div class="insurace__text-wrapper col-lg-6">
          <h2 class="insurance__heading heading-primary">Страховка</h2>
          <p class="insurance__text heading-secondary"><b class="blue">Страховка от утери обязательна</b> для всех
            тарифов.</p>
          <ul class="insurance__list list">
            <div class="insurance__list-item">
              <li>Для товаров с eBay страховка сработает только если товар будет <b class="blue">утерян.</b>
              </li>
            </div>
            <div class="insurance__list-item">
              <li>Страховка стоимости доставки – <b class="blue">$3 за&nbsp;каждые $100.</b>
              </li>
            </div>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="insurance__price-wrapper">
            <p class="insurance__price-heading heading-tertiary">Стоимость страховки зависит от&nbsp;стоимости товара:
            </p>
            <ul class="insurance__pricelist">
              <li class="insurance__pricelist-item">
                <p class="insurance__pricelist-tier">до $100</p>
                <p class="insurance__pricelist-rate">$3</p>
              </li>
              <li class="insurance__pricelist-item">
                <p class="insurance__pricelist-tier">до $500</p>
                <p class="insurance__pricelist-rate">$5</p>
              </li>
              <li class="insurance__pricelist-item">
                <p class="insurance__pricelist-tier">до $1000</p>
                <p class="insurance__pricelist-rate">$7.5</p>
              </li>
              <li class="insurance__pricelist-item">
                <p class="insurance__pricelist-tier">от $1000</p>
                <p class="insurance__pricelist-rate">$15</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
