$grid-gutter-width: 1.25rem;
$container-padding-x: 0.9375rem;

$xxl-width: 1600px;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
);

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1240px,
  xxl: $xxl-width
);

$container-max-widths: (
  // sm: 100%,
  // md: 720px,
  xl: 1240px,
);


// COLORS

$black: #000000;
$black-1: #1a223f;
$black-2: rgba(0, 0, 0, 0.1);
$black-3: rgba(0, 0, 0, 0.05);
$white: #ffffff;
$white-1: #fbfbfb;
$yellow: #ffe200;
$yellow-1: #fae14c;
$blue: #1467ff;
$blue-1: #5591ff;
$blue-dark: #084fd1;
$blue-2: #2b69f6;
$blue-3: #3a78bc;
$blue-light: #bbd3ff;
$blue-light-1: #ddeaff;
$lilac: #dfe9fd;
$purple: #616d99;
$grey-dark: #282828;
$grey-light: #bfbfbf;
$grey-light-1: #c1c1c1;
$grey-light-2: #99a2c5;
$grey-medium: #808080;
$grey-medium-1: #808181;
$grey-special: #5d5d5d;
