// Normalize
@import "../../node_modules/normalize.css/normalize";

// Variables

@import "variables";
@import "mixins";

// Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap-grid";

// Base

@import "fonts";
@import "scaffolding";


// Typorgraphy

@import "typography/colors";
@import "typography/heading-primary";
@import "typography/heading-secondary";
@import "typography/heading-tertiary";

// Grid

@import "grid";


// Vendor

// Components

@import "components/section-xxl";
@import "components/header";
@import "components/footer";
@import "components/logo";
@import "components/nav-toggle";
@import "components/navigation";
@import "components/main-nav";
@import "components/user-nav";
@import "components/button";
@import "components/main-banner";
@import "components/advantages";
@import "components/recommendation";
@import "components/subscribe";
@import "components/social";
@import "components/form";
@import "components/calculator";
