// Normalize
@import "../../node_modules/normalize.css/normalize";

// Variables

@import "variables";
@import "mixins";

// Vendor

// Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap-grid";

// Base

@import "fonts";
@import "scaffolding";


// Typorgraphy

@import "typography/colors";
@import "typography/content";
@import "typography/list";
@import "typography/heading-primary";
@import "typography/heading-secondary";
@import "typography/heading-tertiary";
@import "typography/main-text";
@import "typography/link";
@import "typography/fw";

// Grid

@import "grid";


// Components

@import "components/section";
@import "components/section-xxl";
@import "components/header";
@import "components/footer";
@import "components/logo";
@import "components/nav-toggle";
@import "components/footer-nav";
@import "components/main-nav";
@import "components/user-nav";
@import "components/button";
@import "components/slider-nav";
@import "components/pagination";
@import "components/nav-dots";
@import "components/main-banner";
@import "components/banner-inner";
@import "components/advantages";
@import "components/recommendation";
@import "components/service";
@import "components/subscribe";
@import "components/additional";
@import "components/social";
@import "components/question-mark";
@import "components/form";
@import "components/calculator";
@import "components/tariffs";
@import "components/tariff";
@import "components/tariff-info";
@import "components/work-scheme";
@import "components/promo-slider";
@import "components/features";
@import "components/reviews";
@import "components/review";
@import "components/rating-stars";
@import "components/services";
@import "components/breadcrumbs";
@import "components/paid-services";
@import "components/packaging";
@import "components/customs";
@import "components/insurance";
@import "components/how-to-buy";
@import "components/how-details";
@import "components/pricing-options";
@import "components/delivery-options";
@import "components/section-banner";
@import "components/blacklist";
@import "components/product-order";
@import "components/sending-link";
@import "components/help-buyer";
@import "components/purchase-help";
@import "components/how-issue";
@import "components/advantage-bayres";
@import "components/cost-bayres";
@import "components/list-stores";

// @import "components/notification";
// @import "components/new-banner";
// @import "components/place-parcel";
// @import "components/current-sales";
