// Normalize
@import "../../node_modules/normalize.css/normalize";

// Variables

@import "variables";
@import "mixins";

// Vendor

// Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap-grid";

// Base

@import "fonts";
@import "scaffolding";


// Typorgraphy

@import "typography/colors";
@import "typography/list";
@import "typography/heading-primary";
@import "typography/heading-secondary";
@import "typography/heading-tertiary";

// Grid

@import "grid";


// Components

@import "components/section";
@import "components/section-xxl";
@import "components/header";
@import "components/footer";
@import "components/logo";
@import "components/nav-toggle";
@import "components/footer-nav";
@import "components/main-nav";
@import "components/user-nav";
@import "components/button";
@import "components/slider-nav";
@import "components/nav-dots";
@import "components/main-banner";
@import "components/advantages";
@import "components/recommendation";
@import "components/service";
@import "components/subscribe";
@import "components/additional";
@import "components/social";
@import "components/question-mark";
@import "components/form";
@import "components/calculator";
@import "components/tariffs";
@import "components/tariff";
@import "components/tariff-info";
@import "components/work-scheme";
@import "components/promo-slider";
@import "components/features";
@import "components/reviews";
@import "components/review";
@import "components/rating-stars";
@import "components/services";
@import "components/breadcrumbs";
@import "components/paid-services";
@import "components/customs";
@import "components/insurance";
